.mainTd_0 {
    
    background: 
    #f3f3f3 !important;
    word-break: break-all;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
    vertical-align: top;
}
.mainTd_1 {
    background: 
    #ffffff !important;
    word-break: break-all;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
    /*vertical-align: top;*/
}
.headline {
    color: 
    #374d58;
    font-size: 18pt;
    font-family: Microsoft YaHei;
}
.subheading {
    color: 
    #374d58;
    font-size: 9pt;
    font-family: Microsoft YaHei;
    font-weight: bold;
}
.field {
    color: 
    #666666;
    font-size: 9pt;
    font-family: Microsoft YaHei;
}
.field input,.field textarea,.field select{
    width: 100%;
    height: 40px;
    padding-left: 15px;
    /*border: none;*/
}
.tdDorder {
    border: 1px solid #dadcde !important;
}
.border-right-none{
    border-right: none !important;
}
.border-left-none{
    border-left: none !important;
}
