<!DOCTYPE html>
<html>
<head>
    <title>用户信息</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../css/common.css">
</head>

<body ontouchstart>

<form onsubmit="return false" id="form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">用户名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="username" name="username" type="text" value="" placeholder="用户名" disabled>
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">昵称</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="nickname" name="nickname" type="text" value="" placeholder="昵称">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cells__title">性别</div>
    <div class="weui-cells weui-cells_checkbox">
        <label class="weui-cell weui-check__label " style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" class="weui-check" name="sex" value="1" checked="checked">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>男</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="sex" class="weui-check" value="0">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>女</p>
            </div>
        </label>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">出生时间</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="birthDate" type="text" name="birthDate" placeholder="出生时间">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="name" name="name" type="text" value="" placeholder="姓名">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">民族</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="nation" name="nation" type="text" value="" placeholder="民族">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cells__title">身份类别</div>
    <div class="weui-cells weui-cells_checkbox">
        <label class="weui-cell weui-check__label " style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" class="weui-check" name="userType" value="PARTY_A" disabled>
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>甲方</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="userType" class="weui-check" value="PARTY_B" disabled>
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>乙方</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="userType" class="weui-check" value="PARTY_C" disabled>
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>丙方</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="userType" class="weui-check" value="PARTY_D" disabled>
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>验收</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="userType" class="weui-check" value="EXPERT" disabled>
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>专家</p>
            </div>
        </label>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cells__title">证件类型</div>
    <div class="weui-cells weui-cells_checkbox">
        <label class="weui-cell weui-check__label " style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" class="weui-check" name="idType" value="身份证" checked="checked">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>身份证</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="idType" class="weui-check" value="护照">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>护照</p>
            </div>
        </label>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">证件号码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="idCard" name="idCard" type="text" value="" placeholder="证件号码">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">单位/公司代码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="deptCode" name="deptCode" type="text" value="" placeholder="单位/公司代码">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">单位/公司名称</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="deptName" name="deptName" type="text" value="" placeholder="单位/公司名称" disabled>
        </div>
    </div>
    <div class="weui-line"></div>

    <div class="weui-cells__title">公司/机构类型</div>
    <div class="weui-cells weui-cells_checkbox">
        <label class="weui-cell weui-check__label " style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" class="weui-check" name="deptType" value="ACADEMY" disabled>
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>大专院校</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="deptType" class="weui-check" value="FIRM" disabled>
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>企业</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="deptType" class="weui-check" value="UNIT" disabled>
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>事业单位</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="deptType" class="weui-check" value="RESTS" disabled>
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>其他</p>
            </div>
        </label>
    </div>

    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">邮政编码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="postcode" name="postcode" type="text" value="" placeholder="邮政编码">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">职称</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="academicTitle" name="academicTitle" type="text" value="" placeholder="职称">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">职称级别</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="academicTitleRank" name="academicTitleRank" type="text" value=""
                   placeholder="职称级别">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">职务</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="job" name="job" type="text" value="" placeholder="职务">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">政治面貌</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="politics" name="politics" type="text" value="" placeholder="政治面貌">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">毕业院校</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="graduatedFrom" name="graduatedFrom" type="text" value="" placeholder="毕业院校">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cells__title">学位</div>
    <div class="weui-cells weui-cells_checkbox">
        <label class="weui-cell weui-check__label " style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" class="weui-check" name="degree" value="学士" checked="checked">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>学士</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label " style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" class="weui-check" name="degree" value="研究生">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>研究生</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="degree" class="weui-check" value="硕士">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>硕士</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="degree" class="weui-check" value="博士">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>博士</p>
            </div>
        </label>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cells__title">学历</div>
    <div class="weui-cells weui-cells_checkbox">
        <label class="weui-cell weui-check__label " style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" class="weui-check" name="academicDiplomas" value="高中/技校" checked="checked">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>高中/技校</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label " style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" class="weui-check" name="academicDiplomas" value="中专">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>中专</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="academicDiplomas" class="weui-check" value="大专">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>大专</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="academicDiplomas" class="weui-check" value="大学">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>大学</p>
            </div>
        </label>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">学位授予时间</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="lastYear" name="lastYear" type="text" placeholder="学位授予时间">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">授予国家/地区</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="degreeState" name="degreeState" type="text" value="" placeholder="学位授予国家/地区">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">学位授予学校</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="degreeSchool" name="degreeSchool" type="text" value="" placeholder="学位授予学校">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">邮箱</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="email" name="email" type="text" value="" placeholder="邮箱">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">所学专业</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="major" type="text" value="" data-type="radio" placeholder="所学专业">
            <input type="hidden" name="major" value="">
        </div>
    </div>


    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">手机号码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="phone" name="phone" type="text" value="" placeholder="手机号码">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">办公电话</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="telephone" name="telephone" type="text" value="" placeholder="办公电话">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">现从事专业</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="nowMajor" type="text" data-type="radio" value="" placeholder="现从事专业">
            <input type="hidden" name="nowMajor" value="">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">主要研究领域</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="mainDomain" type="text" data-type="radio" value="" placeholder="主要研究领域">
            <input type="hidden" name="mainDomain" value="">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">传真</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="fax" name="fax" type="text" value="" placeholder="传真">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">所在地域</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="start" type="text" value="" placeholder="所在地域">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-label">通信地址</label>
            <textarea class="weui-textarea" id="address" name="address" placeholder="通信地址" rows="3"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">服务的产业或者领域</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="domains" type="text" data-type="checkbox" value="" placeholder="服务的产业或者领域">
            <input type="hidden" disabled name="domains" value="">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">技术专长及提供的服务</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="skills" type="text" data-type="checkbox" value="" placeholder="技术专长及提供的服务">
            <input type="hidden" disabled name="skills" value="">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-label">承担的科技项目</label>
            <textarea class="weui-textarea" id="projects" name="projects" placeholder="承担的科技项目" rows="3"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-label">工作成就案例</label>
            <textarea class="weui-textarea" id="accomplishment" name="accomplishment" placeholder="工作成就案例"
                      rows="10"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-label" style="width: 55%;text-align-last: left;">获得科技成果/奖励/荣誉</label>
            <textarea class="weui-textarea" id="achievement" name="achievement" placeholder="获得科技成果/奖励/荣誉"
                      rows="10"></textarea>
        </div>
    </div>
    <input type="hidden" id="provinceCode" name="provinceCode">
    <input type="hidden" id="cityCode" name="cityCode">
    <input type="hidden" id="areaCode" name="areaCode">
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" onclick="submit()">提交</a>
    </div>
</form>


<script type="text/javascript" src="../../../../js/libs/jquery-3.3.1.min.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../../../js/constant.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script type="text/javascript" src="../../../../js/common.js"></script>
<script type="text/javascript" src="../../weui/js/city-picker.js"></script>
<script src="../../weui/js/label.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });

    $("#start").cityPicker({
        title: "所在地域",
        onChange: function (picker, values, displayValues) {
            $('#provinceCode').val(values[0]);
            $('#cityCode').val(values[1]);
            $('#areaCode').val(values[2]);
        }
    });
    //出生年月日
    $("#birthDate").calendar({
        title: "出生时间",
        onChange: function (p, values, displayValues) {
            console.log(values, displayValues);
        }
    });
    //学位获得时间
    $("#date2").calendar({
        title: "学位获得时间",
        onChange: function (p, values, displayValues) {
            console.log(values, displayValues);
        }
    });

    var userId = null;
    var projectUserId = null;

    $.ajax({
        type: 'get',
        url: domainName + '/api-u/users/current',
        async: false,
        success: function (data) {
            userId = data.id;
            for (var key in data) {
                $("#" + key).val(data[key]);
            }
            setRadio($("input[name=sex]"), data.sex);
            getProjectUser(userId);
        }
    });
    var domainSigns = null;
    var skillSigns = null;

    function getProjectUser(userId) {
        $.ajax({
            type: 'get',
            url: domainName + '/project-user/user-anon/' + userId,
            async: false,
            success: function (res) {
                if (!jQuery.isEmptyObject(res[0])) {
                    projectUserId = res[0].id;
                    for (var key in res[0]) {
                        $("#" + key).val(res[0][key]);
                    }
                    $('#birthDate').val(formatDate4(res[0].birthDate));
                    $('#lastYear').val(formatDate4(res[0].lastYear));
                    $('#address').html(res[0].address);
                    setRadio($('input[name=userType]'), res[0].userType);
                    setRadio($('input[name=idType]'), res[0].idType);
                    setRadio($('input[name=deptType]'), res[0].deptType);
                    setRadio($('input[name=academicDiplomas]'), res[0].academicDiplomas);
                    setRadio($('input[name=degree]'), res[0].degree);
                    getLabelContent('major', res[0].major);
                    getLabelContent('nowMajor', res[0].nowMajor);
                    getLabelContent('mainDomain', res[0].mainDomain);
                    var arr1 = new Array();
                    $.each(res[0].domains, function (i, item) {
                        arr1.push(item.labelSign);
                    });
                    domainSigns = arr1.join(',');
                    getLabelContent('domains', domainSigns);
                    var arr2 = new Array();
                    $.each(res[0].skills, function (i, item) {
                        arr2.push(item.labelSign);
                    });
                    skillSigns = arr2.join(',');
                    getLabelContent('skills', skillSigns);
                }
            }
        });

    }

    function setRadio(inputs, data) {
        for (var i = 0; i < inputs.length; i++) {
            if ($(inputs[i]).val() == data) {
                $(inputs[i]).prop('checked', true);
                return;
            }
        }
    }


    function submit() {
        var formdata = $("#form").serializeObject();
        if (!jQuery.isEmptyObject(formdata.deptName)) {
            $.toast("公司信息不能为空", "forbidden");
            return;
        }
        formdata.id = userId;
        updateUser(formdata);
        var flag = projectUserId == null;
        formdata.userId = userId;
        var type = null;
        if (flag) {
            type = 'post';
            formdata.id = null;
        } else {
            type = 'put';
            formdata.id = projectUserId;
        }
        formdata.birthDate = Date.parse(new Date(formdata.birthDate));
        formdata.lastYear = Date.parse(new Date(formdata.lastYear));
        $.ajax({
            type: type,
            url: domainName + '/project-user/user',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formdata),
            success: function (res) {
                $.toast('保存成功');
                if (domainSigns != $('input[name=domains]').val()) {
                    setDomains(formdata.userType,($('input[name=domains]').val()).split(','));
                }
                if (domainSigns != $('input[name=skills]').val()) {
                    setSkills(formdata.userType,($('input[name=skills]').val()).split(','));
                }
            }
        });
    }

    function setDomains(userType,data) {
        $.ajax({
            type: 'post',
            url: domainName + '/project-user/toDomains?userType='+userType,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (res) {
            }
        });
    }

    function setSkills(userType,data) {
        $.ajax({
            type: 'post',
            url: domainName + '/project-user/toSkills?userType='+userType,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (res) {
            }
        });
    }

    function updateUser(data) {
        $.ajax({
            type: 'put',
            url: domainName + '/api-u/users/me',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (res) {
            }
        });
    }

    $("#deptCode").blur(function () {
        var deptCode =$.trim( $(this).val());
        $.ajax({
            type : 'get',
            url : domainName + '/api-c/company/'+deptCode,
            success : function(data) {
                if(jQuery.isEmptyObject(data)){
                    $.modal({
                        text: "没有查询到该公司/机构信息",
                        buttons: [
                            { text: "去添加", onClick: function(){ location.href=domainName + '/api-b/pages/wechat/views/company/addCompany.html';} },
                            { text: "取消", className: "default", onClick: function(){ history.back()} }
                        ]
                    });
                }else{
                    $("#deptName").val(data.signName);
                    setRadio($('input[name=userType]'),data.identity);
                    setRadio($('input[name=deptType]'),data.type);
                }
            }
        });
    });


</script>
</body>
</html>
