<!DOCTYPE html>
<html>
<head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" href="../../css/common.css">
</head>

<body ontouchstart>
<form class="form-horizontal" onsubmit="return false" id="form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">旧密码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="oldPassword" name="oldPassword" value="" placeholder="旧密码">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">新密码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="newPassword" name="newPassword" value="" placeholder="新密码">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">确认新密码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="ewPassword2" name="ewPassword2" value="" placeholder="确认新密码">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">保存</a>
    </div>
</form>

<script type="text/javascript" src="../../../../js/libs/jquery-3.3.1.min.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="../../weui/js/jquery-weui.js"></script>
<script>
    $("#start").cityPicker({
        title: "所在地域",
        onChange: function (picker, values, displayValues) {
            console.log(values, displayValues);
        }
    });
    layui.use('upload', function(){
        var upload = layui.upload;

        upload.render({
            elem: '#uploaderInput2' //绑定元素
            ,accept: 'file' //允许上传的文件类型
            ,url: domainName + '/zuul/api-f/files'
            ,done: function(res, index, upload){
                layer.msg("上传成功");
                example.ajax.reload();
            }
        });
    });
    });

</script>
</body>
</html>
