<!DOCTYPE html>
<html>
<head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" href="../../css/common.css">
</head>

<body ontouchstart>
<form class="form-horizontal" onsubmit="return false" id="form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">旧密码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="oldPassword" name="oldPassword" value="" placeholder="旧密码"
                   data-bv-notempty="true"
                   data-bv-notempty-message="旧密码 不能为空">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">新密码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="newPassword" name="newPassword" value="" placeholder="新密码"
                   data-bv-notempty="true"
                   data-bv-notempty-message="新密码不能为空"
                   data-bv-identical="true"
                   data-bv-identical-field="newPassword2"
                   data-bv-identical-message="两次密码不一致">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">确认新密码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="newPassword2" name="newPassword2" value="" placeholder="确认新密码"
                   data-bv-notempty="true"
                   data-bv-notempty-message="确认新密码码"
                   data-bv-identical="true"
                   data-bv-identical-field="newPassword"
                   data-bv-identical-message="两次密码不一致">
        </div>
    </div>
    <input type="hidden" id="username" nane="username">
    <div class="weui-line"></div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" onclick="update()">保存</a>
    </div>
</form>
<script src="../../../../js/constant.js"></script>
<script type="text/javascript" src="../../../../js/libs/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script type="text/javascript" src="../../../../js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="../../weui/js/jquery-weui.js"></script>
<script>
    $.ajax({
        type: 'get',
        url: domainName + '/api-u/users/current',
        async: false,
        data: $("#form").serialize(),
        success: function (data) {
            $("#username").val(data.username);
        }
    });

    function update() {
        $('#form').bootstrapValidator();
        var bootstrapValidator = $("#form").data('bootstrapValidator');
        bootstrapValidator.validate();
        if (!bootstrapValidator.isValid()) {
            return;
        }

        $.ajax({
            type: 'put',
            url: domainName + '/api-u/users/password',
            data: $("#form").serialize(),
            success: function (data) {
                $.toast("修改成功", function () {
                    history.back(-1);
                });
            }
        });
    }

</script>
</body>
</html>
