<!DOCTYPE html>
<html>
<head>
    <title>完善公司信息</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../layui/css/layui.css">
    <link rel="stylesheet" href="../../css/common.css">
</head>

<body ontouchstart>
<form onsubmit="return false" id="form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">公司名称</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="signName" name="signName" value="" placeholder="公司名称">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">负责人</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="principal" name="principal" value="" placeholder="负责人">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">负责人手机</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="principalPhone" name="principalPhone" value=""
                   placeholder="负责人手机">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">法人姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="legalPerson" name="legalPerson" value="" placeholder="法人姓名">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">法人身份证</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="legalPersonCard" name="legalPersonCard" value=""
                   placeholder="法人身份证">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">法人手机</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="legalPersonPhone" name="legalPersonPhone" value=""
                   placeholder="法人手机">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">公司固话</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="telephone" name="telephone" value="" placeholder="公司固话">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">注册资金</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="registeredCapital" name="registeredCapital" value=""
                   placeholder="注册资金">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="weui-uploader">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title" style="font-weight: bold">营业执照</p>
                    <div class="weui-uploader__info">0/1</div>
                </div>
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files">
                    </ul>
                    <div class="weui-uploader__input-box">
                        <input class="weui-uploader__input" type="file" accept="image/*"
                               multiple="" onchange="uploader(this)" data-sum="1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">信用代码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="deptCode" name="deptCode" value="" placeholder="信用代码">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cells__title">公司/机构角色</div>
    <div class="weui-cells weui-cells_checkbox">
        <label class="weui-cell weui-check__label " style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" class="weui-check" name="identity" value="PARTY_A">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>甲方</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="identity" class="weui-check" value="PARTY_B">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>乙方</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="identity" class="weui-check" value="PARTY_C">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>监理</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="identity" class="weui-check" value="PARTY_D">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>验收</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="identity" class="weui-check" value="EXPERT">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>专家</p>
            </div>
        </label>
    </div>

    <div class="weui-line"></div>
    <div class="weui-cells__title">公司/机构类型</div>
    <div class="weui-cells weui-cells_checkbox">
        <label class="weui-cell weui-check__label " style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" class="weui-check" name="type" value="ACADEMY">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>大专院校</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="type" class="weui-check" value="FIRM">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>企业</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="type" class="weui-check" value="UNIT">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>事业单位</p>
            </div>
        </label>
        <label class="weui-cell weui-check__label" style="float: left;">
            <div class="weui-cell__hd">
                <input type="radio" name="type" class="weui-check" value="RESTS">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>其他</p>
            </div>
        </label>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">所在地域</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="start" type="text" value="" placeholder="所在地域">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cells__title">详细地址</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" id="address" name="address" placeholder="请输入文本" rows="3"></textarea>
            </div>
        </div>
    </div>
    <input type="hidden" id="provinceCode" name="provinceCode">
    <input type="hidden" id="cityCode" name="cityCode">
    <input type="hidden" id="areaCode" name="areaCode">
    <input type="hidden" id="id" name="id">
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" onclick="save()">保存</a>
    </div>
</form>

<script type="text/javascript" src="../../../../js/libs/jquery-3.3.1.min.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../../../js/constant.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script type="text/javascript" src="../../../../js/common.js"></script>
<script type="text/javascript" src="../../weui/js/city-picker.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
    var user = null;
    $.get(domainName + '/api-u/users/current', function (data) {
        user = data;
    });

    //所在地域
    $("#start").cityPicker({
        title: "所在地域",
        onChange: function (picker, values, displayValues) {
            $('#provinceCode').val(values[0]);
            $('#cityCode').val(values[1]);
            $('#areaCode').val(values[2]);
        }
    });

    ///文件上传
    function uploader(obj) {
        if ($(obj).val() == "") {
            $.toast("请选择上传的目标文件!", "forbidden");
            return false;
        }
        var size1 = $(obj)[0].files[0].size;
        if (size1 > 104857600) {
            $.toast("上传文件不能大于100M!", "forbidden");
            return false;
        }
        var div = $(obj).parents('div[class=weui-uploader__bd]');
        var formData = new FormData();
        formData.append("file", $(obj)[0].files[0]);
        $.ajax({
            type: "post",
            url: domainName + '/zuul/api-f/files',
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                $.toast('上传成功');
                $(div).find('ul').empty();
                $(div).find('ul').append('<li class="weui-uploader__file" style="background-image:url(' + res.url + ')"></li><input type="hidden" name="charter" value="' + res.url + '">');
            },
            error: function (xhr, textStatus, errorThrown) {
                $.toast('上传失败', 'forbidden');
            }
        });
    }

    //获取当前用户公司信息
    $.ajax({
        type: 'get',
        url: domainName + '/api-c/company/now-user',
        async: false,
        success: function (data) {
            for (var key in data) {
                $("#" + key).val(data[key]);
            }
            setRadio($('input[name=identity]'),data.identity);
            setRadio($('input[name=type]'),data.type);
            if (jQuery.isEmptyObject(data)) {
                $(".weui-btn_primary").attr('onclick', 'save()');
            } else {
                $(".weui-btn_primary").attr('onclick', 'update()');
            }
            var div = $('.weui-uploader__files');
            $(div).append('<li class="weui-uploader__file" style="background-image:url(' + data.charter + ')"></li><input type="hidden" name="charter" value="' + data.charter + '">');
        }
    });

    //添加
    function save() {
        var formdata = $("#form").serializeObject();
        $.ajax({
            type: 'post',
            url: domainName + '/api-c/company',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formdata),
            success: function (data) {
                var params = {
                    userId: user.id,
                    deptCode: data.deptCode
                };
                $.ajax({
                    type: 'post',
                    url: domainName + '/api-c/user',
                    contentType: "application/json; charset=utf-8",
                    data: params,
                    success: function (res) {
                        $.toast('保存成功');
                    }
                });
            }
        });
    }

    //修改
    function update() {
        var formdata = $("#form").serializeObject();
        $.ajax({
            type: 'put',
            url: domainName + '/api-c/company',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formdata),
            success: function (data) {
                $.toast('保存成功');
            }
        });
    }


    //设置单选框的值
    function setRadio(inputs,data) {
        for (var i = 0; i < inputs.length; i++) {
            if ($(inputs[i]).val() == data) {
                $(inputs[i]).prop('checked', true);
            }
        }
    }

</script>
</body>
</html>
