<!DOCTYPE html>
<html>
<head>
    <title>工作总结起草</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" href="../../css/stageSummary.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../layui/css/layui.css">

</head>
<body ontouchstart>


<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd">
        <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <p class="weui-max-title">工作总结</p>
    </div>
</a>

<form id="form">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-label">企业基本情况:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input type="hidden" name="id" id="item_id">
            <input type="hidden" name="status" id="status">
            <textarea class="weui-textarea" name="deptInfo" id="deptInfo" rows="5"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-label">项目背景:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="projectContent" id="projectContent" rows="5"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-title">资金到位情况:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="fullyFunded" id="fullyFunded" rows="5"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-title">技术指标完成情况:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="skillIndicator" id="skillIndicator" rows="5"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-title">经济指标完成情况:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="economyIndicator" id="economyIndicator" rows="5"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-title">项目的社会效益:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="socialBenefit" id="socialBenefit" rows="5"></textarea>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-title">科技经费支持对企业和项目的影响:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="combinedInfluence" id="combinedInfluence" rows="5"></textarea>
        </div>
    </div>

    <div class="weui-btn-area" id="showTooltips">
        <a class="weui-btn weui-btn_primary" href="javascript:" onclick="add(0)">保存</a>
        <a class="weui-btn weui-btn_primary" href="javascript:" onclick="add(1)">提交</a>
    </div>
</form>

<script src="../../weui/lib/jquery-2.1.4.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../weui/js/swiper.js"></script>
<script src="../../weui/js/city-picker.js"></script>
<script src="../../../../js/constant.js"></script>
<script src="../../../../js/common.js"></script>
<script src="../../js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script>
	$(function () {
		FastClick.attach(document.body);
	});
	var itemId = getUrlParam("itemId");
    initData();
    function initData() {
        var data = {
            itemId: itemId,
        }
        $.ajax({
            type: 'get',
            data: data,
            url: domainName + '/api-summary/work/list',
            async: false,
            success: function (data) {
                $(data).each(function () {
                    for (var key in data[0]) {
                        $("textarea[name=" + key + "]").val(data[0][key]);
                    }
                });
                if(data.length>0){
                    if (data[0].status==0){
                        $("input").attr("style", "text-align: center;border: 0px;");
                    }else {
                        $("input").attr('readonly', true);
                        $("input").attr("style", "text-align: center;border: 0px;");
                        $("textarea").attr('readonly', true);
                        document.getElementById('showTooltips').style.display='none';
                    }

                }

            }
        });
    }
	function add(status) {
		var formdata = $("#form").serializeObject();
		formdata.itemId = itemId;
        formdata.status = status;
		$.ajax({
			type: 'post',
			url: domainName + '/api-summary/work',
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify(formdata),
			success: function (data) {
				$.toptip('操作成功', 'success');
                history.back(-1);

			}
		});
	}
</script>
<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
</script>

</body>

</html>
