<!DOCTYPE html>
<html>
<head>
    <title>工作总结</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" href="../../css/stageSummary.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../layui/css/layui.css">

</head>
<body ontouchstart>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../images/swiper-1.jpg" style="height: 150px;width: 100%"/></div>
        <div class="swiper-slide"><img src="../../images/swiper-2.jpg" style="height: 150px;width: 100%"/></div>
        <div class="swiper-slide"><img src="../../images/swiper-3.jpg" style="height: 150px;width: 100%"/></div>
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-interval"></div>

<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd">
        <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <p class="weui-max-title">基本信息</p>
    </div>
</a>

<div class="weui-cell">
    <div class="weui-cell__hd">
        <label class="weui-label">项目名称:</label>
    </div>
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="八角提质增效栽培技术研究与示范" placeholder="">
    </div>
</div>

<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__hd">
	    <label class="weui-label">合同编号:</label>
	</div>
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="GX2019120901" placeholder="">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__hd">
	    <label class="weui-label">委托单位:</label>
	</div>
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="广西新浪" placeholder="">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__hd">
	    <label class="weui-label">承担单位:</label>
	</div>
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="广西百度" placeholder="">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__hd">
	    <label class="weui-label">管理单位:</label>
	</div>
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="广西火狐" placeholder="">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__hd">
	    <label class="weui-label">开始时间:</label>
	</div>
	<div class="weui-cell__bd">
        <input class="weui-input date" type="text" value="2019-12-30" placeholder="">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__hd">
	    <label class="weui-label">结束时间:</label>
	</div>
    <div class="weui-cell__bd">
		<input class="weui-input date" type="text" value="2020-12-30" placeholder="">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__hd">
	    <label class="weui-label">下达文号:</label>
	</div>
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="zxczx42313152312" placeholder="">
    </div>
</div>

<div class="weui-line"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd">
        <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <p class="weui-max-title">工作总结</p>
    </div>
</a>

<div class="weui-cell">
	<div class="weui-cell__bd">
		<label class="weui-label">企业基本情况:</label>
	</div>
</div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<textarea class="weui-textarea" name="deptInfo" rows="5"></textarea>
		<div class="weui-textarea-counter"><span>0</span>/200</div>
	</div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<label class="weui-label">项目背景:</label>
	</div>
</div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<textarea class="weui-textarea"  name="projectContent" rows="5"></textarea>
		<div class="weui-textarea-counter"><span>0</span>/200</div>
	</div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<label class="weui-title">资金到位情况:</label>
	</div>
</div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<textarea class="weui-textarea" name="fullyFunded" rows="5"></textarea>
		<div class="weui-textarea-counter"><span>0</span>/200</div>
	</div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<label class="weui-title">技术指标完成情况:</label>
	</div>
</div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<textarea class="weui-textarea" name="skillIndicator" rows="5"></textarea>
		<div class="weui-textarea-counter"><span>0</span>/200</div>
	</div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<label class="weui-title">经济指标完成情况:</label>
	</div>
</div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<textarea class="weui-textarea" name="economyIndicator" rows="5"></textarea>
		<div class="weui-textarea-counter"><span>0</span>/200</div>
	</div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<label class="weui-title">项目的社会效益:</label>
	</div>
</div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<textarea class="weui-textarea" name="socialBenefit" rows="5"></textarea>
		<div class="weui-textarea-counter"><span>0</span>/200</div>
	</div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<label class="weui-title">科技经费支持对企业和项目的影响:</label>
	</div>
</div>
<div class="weui-cell">
	<div class="weui-cell__bd">
		<textarea class="weui-textarea" name="combinedInfluence" rows="5"></textarea>
		<div class="weui-textarea-counter"><span>0</span>/200</div>
	</div>
</div>


<div class="weui-line"></div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:history.back(-1)" id="showTooltips">提交</a>
</div>


<script src="../../weui/lib/jquery-2.1.4.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../weui/js/swiper.js"></script>
<script src="../../weui/js/city-picker.js"></script>

<script type="text/javascript" src="../../../../layui/layui.js"></script>
<script src="../../js/jquery-weui.min.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script>
	$(function() {
		var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
		$gallery = $("#gallery"),
		$galleryImg = $("#galleryImg"),
		$uploaderInput = $("#uploaderInput"),
		$uploaderFiles = $("#uploaderFiles");
		 
		$uploaderInput.on("change", function(e) {
		    var src, url = window.URL || window.webkitURL || window.mozURL,
		    files = e.target.files;
		    for(var i = 0, len = files.length; i < len; ++i) {
		        var file = files[i];
				if(url) {
		            src = url.createObjectURL(file);
		        } else {
		             src = e.target.result;
		        }
		 
		    $uploaderFiles.append($(tmpl.replace('#url#', src)));
		    }
		});
		var index; //第几张图片
		 $uploaderFiles.on("click", "li", function() {
		    index = $(this).index();
		    $galleryImg.attr("style", this.getAttribute("style"));
		    $gallery.fadeIn(100);
		});
		$gallery.on("click", function() {
		    $gallery.fadeOut(100);
		});
		//删除图片
		$(".weui-gallery__del").click(function() {
		    $uploaderFiles.find("li").eq(index).remove();
		});
	});

</script>
<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
</script>
<script>
$("#start").cityPicker({
	title: "所在地域",
	onChange: function (picker, values, displayValues) {
	    console.log(values, displayValues);
	}
});
//延期批复截止时间
$(".date").calendar({
    title: "延期批复截止时间",
    onChange: function (p, values, displayValues) {
        console.log(values, displayValues);
    }
});
   
</script>
</body>

</html>
