<!DOCTYPE html>
<html>
<head>
	<title>更改申请列表</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

	<link rel="stylesheet" href="../../weui/lib/weui.min.css">
	<link rel="stylesheet" href="../../weui/css/jquery-weui.css">
	<link rel="stylesheet" href="../../weui/css/demos.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../../../../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../../../../css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="../../../../layui/css/layui.css" media="all"/>

</head>

<body ontouchstart>


<div class="page__bd">
	<div class="weui-panel" id="list">


	</div>
</div>

<script src="../../weui/lib/jquery-2.1.4.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../weui/js/swiper.js"></script>
<script src="../../../../js/constant.js"></script>
<script src="../../../../js/common.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>

<script>
	var itemId = getUrlParam("item_id");
	$(function () {
		FastClick.attach(document.body);
	});
	$(function () {
		$.ajax({
			type: 'get',
			url: domainName + "/api-summary/work/list",
			contentType: "application/json; charset=utf-8",
			data: {},
			success: function (data) {
				var str = '';
				$(data).each(function () {
					str += '<div class="weui-panel__bd">\n' +
							'   <a class="weui-cell weui-cell_access" href="workSummary.html?id=' + this.id + '">\n' +
							'       <div class="weui-media-box weui-media-box_text">\n' +
							'           <h4 class="weui-media-box__title">' + getItemName(this.itemId) + '</h4>\n' +
							'           <p class="weui-media-box__desc" >工作总结</p>\n' +
							'           <ul class="weui-media-box__info">\n' +
							'               <li class="weui-media-box__info__meta">' + this.createUserName + '</li>\n' +
							'               <li class="weui-media-box__info__meta">' + getTime(this.createTime) + '</li>\n' +
							'               <li class="weui-media-box__info__meta weui-media-box__info__meta_extra"></li>\n' +
							'           </ul>\n' +
							'      </div>\n' +
							'       <span class="weui-cell__ft"></span>\n' +
							'     </a>\n' +
							'</div>';

				});
				$("#list").append(str);
			}
		});
	})


	function getItemName(id) {
		$.ajaxSettings.async = false;
		var data = '';
		$.get(domainName + "/project-item/item/basic/list?id=" + id, function (res) {
			data =  res[0]['item_name'];
		})
		$.ajaxSettings.async = true;
		return data;
	}


	function getTime(apply_time) {
		var now = new Date(apply_time);
		var year = now.getFullYear();
		var month = now.getMonth() + 1;
		var date = now.getDate();
		return year + "/" + fixZero(month, 2) + "/" + fixZero(date, 2);
	}


</script>
</body>
</html>
