<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的项目</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../../weui/css/weui.css"/>
    <link rel="stylesheet" href="../../weui/css/weuix.css"/>

    <script src="../../weui/js/zepto.min.js"></script>
    <script src="../../weui/js/zepto.weui.js"></script>
    <style>
        .weui-grid__label {
            color: #10AEFF;
        }
    </style>
</head>
<body ontouchstart class="page-bg">
<div id="content">
</div>
</body>
<script type="text/javascript" src="../../../../js/libs/jquery-3.3.1.min.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../../../js/constant.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script type="text/javascript" src="../../../../js/common.js"></script>
<script>
    getProject();

    function getProject() {
        $.ajax({
            type: 'get',
            url: domainName + '/project-item/item/information/my',
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (data) {
                var str = '';
                $(data).each(function () {
                    str += '<div class="weui-panel weui-panel_access">\n' +
                        '        <div class="weui-panel__hd"><span style="color: #000000;">' + this.name + '</span></div>\n' +
                        '        <div class="weui-panel__bd">\n' +
                        '            <div class="weui-grids grids-small">\n' +
                        '                <a href="javascript:;" class="grid" onclick="javascript:top.location.href=\'newproject.html?id='+this.id+'\'">\n' +
                        '                    <p class="weui-grid__label">\n' +
                        '                        项目信息\n' +
                        '                    </p>\n' +
                        '                </a>\n' +
                        '                <a href="javascript:;" class="grid">\n' +
                        '                    <p class="weui-grid__label">\n' +
                        '                        经费管理\n' +
                        '                    </p>\n' +
                        '                </a>\n' +
                        '                <a href="javascript:;" class="grid">\n' +
                        '                    <p class="weui-grid__label">\n' +
                        '                        项目变更\n' +
                        '                    </p>\n' +
                        '                </a>\n' +
                        '                <a href="javascript:;" class="grid">\n' +
                        '                    <p class="weui-grid__label">\n' +
                        '                        执行管理\n' +
                        '                    </p>\n' +
                        '                </a>\n' +
                        '                <a href="javascript:;" class="grid" onclick="">\n' +
                        '                    <p class="weui-grid__label">\n' +
                        '                        进度管理\n' +
                        '                    </p>\n' +
                        '                </a>\n' +
                        '                <a href="javascript:;" class="grid">\n' +
                        '                    <p class="weui-grid__label">\n' +
                        '                        项目终止\n' +
                        '                    </p>\n' +
                        '                </a>\n' +
                        '                <a href="javascript:;" class="grid">\n' +
                        '                    <p class="weui-grid__label">\n' +
                        '                        项目查定\n' +
                        '                    </p>\n' +
                        '                </a>\n' +
                        '                <a href="javascript:;" class="grid">\n' +
                        '                    <p class="weui-grid__label">\n' +
                        '                        项目验收\n' +
                        '                    </p>\n' +
                        '                </a>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '    </div>';
                });
                $("#content").append(str);
            }
        });
    }
</script>
</html>
