<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinlang.zly_xyx.company.mapper.CompanyMapper">

	<resultMap id="BaseResultMap" type="com.xinlang.zly_xyx.company.bean.Company">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="signName" jdbcType="VARCHAR" property="signName" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="registerDate" jdbcType="DATE" property="registerDate" />
		<result column="principalPhone" jdbcType="VARCHAR" property="principalPhone" />
		<result column="principal" jdbcType="VARCHAR" property="principal" />
		<result column="legalPerson" jdbcType="VARCHAR" property="legalPerson" />
		<result column="legalPersonPhone" jdbcType="VARCHAR" property="legalPersonPhone" />
		<result column="legalPersonCard" jdbcType="VARCHAR" property="legalPersonCard" />
		<result column="telephone" jdbcType="VARCHAR" property="telephone" />
		<result column="registeredCapital" jdbcType="INTEGER" property="registeredCapital" />
		<result column="charter" jdbcType="VARCHAR" property="charter" />
		<result column="trade" jdbcType="VARCHAR" property="trade" />
		<result column="type" jdbcType="BIT" property="type" />
		<result column="deptCode" jdbcType="VARCHAR" property="deptCode" />
		<result column="credential" jdbcType="BIT" property="credential" />
		<result column="credentialNumber" jdbcType="INTEGER" property="credentialNumber" />
		<result column="sendDept" jdbcType="VARCHAR" property="sendDept" />
		<result column="sendDate" jdbcType="DATE" property="sendDate" />
		<result column="validTime" jdbcType="INTEGER" property="validTime" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="enabled" jdbcType="BIT" property="enabled" />
	</resultMap>

</mapper>