<!DOCTYPE html>
<html>
<head>
    <title>指标查定起草</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" href="../../css/stageSummary.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../layui/css/layui.css">
    <script src="../../weui/js/zepto.min.js"></script>
    <script src="../../weui/js/zepto.weui.js"></script>

    <style>
        .field {
            margin-top: 10px;
            padding: 0 15px;
            color: #999999;
            font-size: 14px;
            text-align: right;
            line-height: 1.5em;
            width: 18%;
        }

        .content {
            margin-top: 10px;
            padding-right: 15px;
            color: #666666;
            font-size: 14px;
            text-align: left;
            line-height: 1.5em;
        }
    </style>
</head>
<body ontouchstart>
<header class='demos-header'>
    <h1 class="demos-title">指标查定起草</h1>
</header>
<h3>项目基本信息</h3>
<div class="weui-flex bg-white">
    <div class="field">
        <div>合同编号</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="contract_no"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>项目类别</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="type"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>项目名称</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="name"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>委托单位</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="entrusting_party"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>承担单位</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="responsible_unit"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>管理单位</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="management_unit"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>下达文号</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="document_number"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>实施期限</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="period"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>项目地点</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="site"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>总体目标</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="overall_objective"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>主要研究内容</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="research_contents"></span>
        </div>
    </div>
</div>

<form id="form">
    <h3>所需查定指标</h3>

    <div class="weui-flex bg-white">
        <div class="field">
            <div>选择查定指标</div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <div class="weui-cells weui-cells_checkbox" id="chooseTargrt">


                </div>
            </div>
        </div>
    </div>
    <div class="weui-line"></div>
    <h3>查定申请详情</h3>

    <div class="weui-flex bg-white">
        <div class="field">
            <div>建议开始时间:</div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <input type="hidden" id="target_id" name="target_id">
                <input id="check_unit" name="check_unit" type="hidden">
                <input id="manage_unit" name="manage_unit" type="hidden">
                <input class="weui-input date" type="text" value="" placeholder="点击此处选择查定时间" id="start_date"
                       name="start_date">
            </div>
        </div>
    </div>
    <div class="weui-flex bg-white">
        <div class="field">
            <div>预计结束时间:</div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <input class="weui-input date" type="text" value="" placeholder="点击此处选择查定时间" id="end_date" name="end_date" style="border: 1px;">
            </div>
        </div>
    </div>

    <div class="weui-flex bg-white">
        <div class="field">
            <div>申请详情:</div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <textarea class="weui-textarea" rows="5" id="content" name="content"></textarea>
            </div>
        </div>
    </div>
</form>

<div class="weui-line"></div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" onclick="add()">提交</a>
</div>


<script src="../../weui/lib/jquery-2.1.4.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../weui/js/swiper.js"></script>
<script src="../../weui/js/city-picker.js"></script>
<script src="../../../../js/constant.js"></script>
<script src="../../../../js/common.js"></script>
<script src="../../js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script src="../../../../js/sendMessage.js"></script>
<script src="../../js/getItemInfo.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
    var itemId = getUrlParam("itemId");
    queryInformation(itemId);
    function getItemName(id) {

        $.get(domainName + "/project-item/item/information/list?id=" + id, function (res) {
            var name = res[0]['management_unit'];
            $("#check_unit").val(name);
            $("#manage_unit").val(res[0]['entrusting_party']);
        })
    }

    getItemName(itemId);
    $(function () {
        $.ajax({
            type: 'get',
            url: domainName + '/project-item/item/indicators/list',
            contentType: "application/json; charset=utf-8",
            data: {
                item_id: itemId
            },
            success: function (data) {
                var str = '';
                $(data).each(function () {

                    var code = this.id;
                    var name = this.type;
                    name = getName(name);
                    var content = this.content;
                    var count = this.count;
                    if (count != null) {

                    } else {
                        str += '<label class="weui-cell weui-check__label " style="float: left;">\n' +
                            '<div class="weui-cell__hd">\n' +
                            '<input type="checkbox" class="weui-check" name="target_id" value="' + code + '">\n' +
                            '<i class="weui-icon-checked"></i>\n' +
                            '</div>\n' +
                            '<div class="weui-cell__bd">\n' +
                            '<p>' + content + '</p>\n' +
                            '</div>\n' +
                            '</label>';
                    }

                });
                $("#chooseTargrt").append(str);
            }
        });
    });


    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });

    function getTarget() {
        var obj = document.getElementsByName('target_id');
        var length = obj.length;
        var str = [];
        for (var i = 0; i < length; i++) {
            if (obj[i].checked) {
                str.push(obj[i].value);
            }
        }
        $("#target_id").val(str);
    }

    function add() {
        getTarget();

        var formdata = $("#form").serializeObject();
        formdata.item_id = itemId;
        formdata.post_type = 2;
        formdata.target_id = $("#target_id").val();
        $.ajax({
            type: 'post',
            url: domainName + '/project-item/item/target/auditApply/one',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formdata),
            success: function (data) {
                var userIds = [];
                var userId = getPARTY_C(itemId);
                userIds.push(userId);
                var content = "您有一条指标查定待处理";
                var title = "您有一条指标查定待处理";
                sendMeaasge(content, title, userIds);
                $.toptip('操作成功', 'success');
                history.back(-1);

            }
        });
    }

    function getName(sign) {
        var name = [];
        $.ajax({
            type: 'get',
            url: domainName + '/api-label/label/tree/' + sign,
            async: false,
            success: function (data) {
                var code = data[0]['content'];
                name.push(code)

            }
        });
        return name[0];
    }

    $("#place").cityPicker({
        title: "所在地域",
        onChange: function (picker, values, displayValues) {
            console.log(values, displayValues);
        }
    });

    //延期批复截止时间
    $(".date").calendar({
        title: "延期批复截止时间",
        onChange: function (p, values, displayValues) {
            console.log(values, displayValues);
        }
    });
</script>
</body>

</html>
