<!DOCTYPE html>
<html>
	<head>
		<title>指标查定列表</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

		<link rel="stylesheet" href="../../weui/lib/weui.min.css">
		<link rel="stylesheet" href="../../weui/css/jquery-weui.css">
		<link rel="stylesheet" href="../../weui/css/demos.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../css/dataTables.bootstrap.min.css">
		<link rel="stylesheet" href="../../../../layui/css/layui.css" media="all" />

	</head>

	<body ontouchstart>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="../../images/swiper-1.jpg" style="height: 150px;width: 100%" /></div>
				<div class="swiper-slide"><img src="../../images/swiper-2.jpg" style="height: 150px;width: 100%" /></div>
				<div class="swiper-slide"><img src="../../images/swiper-3.jpg" style="height: 150px;width: 100%" /></div>
			</div>
		</div>
		<div class="weui-line"></div>
		<div class="weui-interval"></div>


		<div class="page__bd">
			<div class="weui-panel">
				<div class="weui-panel__bd">
					<a class="weui-cell weui-cell_access" href="checkAuditfyApply.html">
						<div class="weui-media-box weui-media-box_text">
							<h4 class="weui-media-box__title">认定登记的技术合同数(输出）</h4>
							<p class="weui-media-box__desc">项目指标认定登记的技术合同总金额已达到指定值，现申请指标查定。</p>
							<ul class="weui-media-box__info">
								<li class="weui-media-box__info__meta">杨珣</li>
								<li class="weui-media-box__info__meta">2020年02月29日</li>
								<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">待审核</li>
							</ul>
						</div>
						<span class="weui-cell__ft"></span>
					</a>
				</div>

				<div class="weui-panel__bd">
					<a class="weui-cell weui-cell_access" href="checkAuditfyApply.html">
						<div class="weui-media-box weui-media-box_text">
							<h4 class="weui-media-box__title">认定登记的技术合同数(输出）</h4>
							<p class="weui-media-box__desc">项目指标认定登记的技术合同总金额已达到指定值，现申请指标查定。</p>
							<ul class="weui-media-box__info">
								<li class="weui-media-box__info__meta">杨珣</li>
								<li class="weui-media-box__info__meta">2020年02月29日</li>
								<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">待审核</li>
							</ul>
						</div>
						<span class="weui-cell__ft"></span>
					</a>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../../../js/libs/jquery-3.3.1.min.js"></script>
		<script src="../../weui/lib/fastclick.js"></script>
		<script type="text/javascript" src="../../../../layui/layui.js"></script>
		<script type="text/javascript" src="../../../../js/plugin/datatables/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="../../../../js/plugin/datatables/dataTables.bootstrap.min.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
			$(function() {
				$.ajax({
					type: 'get',
					url: domainName + "/project-item/item/target/applyList",
					contentType: "application/json; charset=utf-8",
					data: {
						item_id: itemId,
						status: 3
					},
					success: function(data) {
						var str = '';
						for (var i = 0; i < data.length; i++) {
							str += '<div class="weui-panel__bd">\n' +
								'   <a class="weui-cell weui-cell_access" href="checkModifyApply.html?id=' + this.id + '">\n' +
								'      <div class="weui-media-box weui-media-box_text">\n' +
								'          <h2 style="max-width: 400px;">' + itemName(this.item_name) + '</h2>\n' +
								'          <p class="date" style="max-width: 400px;">\n' +
								'            <h4 class="weui-media-box__title">' + getTargetName(this.target_id) + '</h4>\n' +
								'            <p class="weui-media-box__desc" >' + this.content + '</p>\n' +
								'            <ul class="weui-media-box__info">\n' +
								'               <li class="weui-media-box__info__meta">' + getUserName(this.user_id) + '</li>\n' +
								'               <li class="weui-media-box__info__meta">' + getTime(this.apply_time) + '</li>\n' +
								'               <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">' + getStatus(this
									.status) + '</li>\n' +
								'             </ul>\n' +
								'      </div>\n' +
								'       <span class="weui-cell__ft"></span>\n' +
								'     </a>\n' +
								'</div>';
						}
						$("#list").append(str);
					}
				});
			})

			function itemName(status) {
				var data = '';
				if (status == 0) {
					data = "待审核";
				} else if (status == 1) {
					data = "更改中";
				} else if (status == 2) {
					data = "审核未通过";
				} else if (status == 3) {
					data = "更改成功";
				}
				return data;
			}

			function getUserName(user_id) {
				var data = '';
				$.get(domainName + "/project-user/user-anon/" + row['user_id'], function(res) {
					data = res[0]['name'];
				})
				return data;
			}

			function getTime(apply_time) {
				var now = new Date(apply_time);
				var year = now.getFullYear();
				var month = now.getMonth() + 1;
				var date = now.getDate();
				return year + "/" + fixZero(month, 2) + "/" + fixZero(date, 2);
			}

			function getTargetName(id) {
				var data = '';
				$.ajax({
					type: 'get',
					url: domainName + '/project-item/item/target/list',
					contentType: "application/json; charset=utf-8",
					data: {
						id: id
					},
					success: function(data) {
						if (data[0]['count'] != null) {
							$.get(domainName + "/api-label/label/tree/" + data[0]['target'], function(res) {
								data = res[0].content;
							})
						} else {
							data = data[0].content;
						}
					}
				});
				return data;
			}
		</script>
		<script src="../../weui/js/jquery-weui.js"></script>

	</body>
</html>
