<!DOCTYPE html>
<html>
<head>
    <title>指标查定</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" href="../../css/stageSummary.css">

</head>
<body ontouchstart>

<div style="z-index: 999999">

    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd">
            <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
        </div>
        <div class="weui-cell__bd weui-cell_primary">
            <p class="weui-max-title">指标详情</p>
        </div>
    </a>

    <div class="weui-panel" id="list">


    </div>

    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd">
            <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
        </div>
        <div class="weui-cell__bd weui-cell_primary">
            <p class="weui-max-title">查定申请详情</p>
        </div>
    </a>

    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">项目名称:</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" value="" id="itemName" name="itemName" placeholder="" readonly>
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">提交人:</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="userName" name="userName" placeholder="" readonly>
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">建议查定时间:</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" value="" id="start_date" readonly name="start_date">
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">预计结束时间:</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" value="" id="end_date" readonly name="end_date">
        </div>
    </div>


    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">申请内容:</label>
        </div>
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" rows="5" id="content" name="content" readonly></textarea>
        </div>
    </div>

    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd">
            <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
        </div>
        <div class="weui-cell__bd weui-cell_primary">
            <p class="weui-max-title">查定结果</p>
        </div>
    </a>
    <form id="form">
        <div class="weui-line"></div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">实际查定时间:</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input date" type="text" value="" placeholder="查定时间" id="start_date_true" name="start_date_true">
            </div>
        </div>
        <div class="weui-line"></div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">实际结束时间:</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input date" type="text" value="" placeholder="查定时间" id="end_date_true" name="end_date_true">
            </div>
        </div>

        <div class="weui-line"></div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">查定情况简述:</label>
            </div>
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" rows="5" id="description" name="description"></textarea>
            </div>
        </div>

        <div class="weui-line"></div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">查定目的:</label>
            </div>
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" rows="5" id="purpose" name="purpose"></textarea>
            </div>
        </div>

        <div class="weui-line"></div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">查定依据:</label>
            </div>
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" rows="5" id="depand" name="depand"></textarea>
            </div>
        </div>

        <div class="weui-line"></div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">查定内容:</label>
            </div>
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" rows="5" id="details" name="details"></textarea>
            </div>
        </div>

        <div class="weui-line"></div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">查定方法:</label>
            </div>
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" rows="5" id="means" name="means"></textarea>
            </div>
        </div>

        <div class="weui-line"></div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title" style="font-weight: bold">图片上传</p>
                        <div class="weui-uploader__info">0/6</div>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files">
                        </ul>
                        <div class="weui-uploader__input-box">
                            <input class="weui-uploader__input" type="file" accept="image/*"
                                   multiple="" onchange="uploader(this)" data-sum="6">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells__title">查定结果</div>

        <div class="weui-cells weui-cells_checkbox">
            <label class="weui-cell weui-check__label " style="float: left;">
                <div class="weui-cell__hd">
                    <input type="radio" class="weui-check" name="status" value="3">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>合格</p>
                </div>
            </label>
            <label class="weui-cell weui-check__label" style="float: left;">
                <div class="weui-cell__hd">
                    <input type="radio" name="status" class="weui-check" value="4">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>不合格</p>
                </div>
            </label>
        </div>
        <input type="hidden" name="accessory" id="accessory" value="">
        <div class="weui-line"></div>
        <div class="weui-btn-area">
            <button onclick="postResult()" type="button" class="weui-btn weui-btn_primary">提交</button>
        </div>

    </form>
</div>


</div>

<script src="../../weui/lib/jquery-2.1.4.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../weui/js/swiper.js"></script>
<script src="../../../../js/constant.js"></script>
<script src="../../../../js/common.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script type="text/javascript" src="../../../../js/chooseArea.js"></script>
<script type="text/javascript" src="auditApply.js"></script>
<script src="../../js/jquery-weui.min.js"></script>


<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script>
    var id = getUrlParam("id");
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
    initData();

    function uploader(obj) {
        if ($(obj).val() == "") {
            $.toast("请选择上传的目标文件!", "forbidden");
            return false;
        }
        var size1 = $(obj)[0].files[0].size;
        if (size1 > 104857600) {
            $.toast("上传文件不能大于100M!", "forbidden");
            return false;
        }
        var div = $(obj).parents('div[class=weui-uploader__bd]');
        var formData = new FormData();
        formData.append("file", $(obj)[0].files[0]);
        $.ajax({
            type: "post",
            url: domainName + '/zuul/api-f/files',
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                $.toast('上传成功');
                var type = res.contentType;
                if (res.isImg) {
                    $(div).find('ul').append('<li class="weui-uploader__file" style="background-image:url(' + res.url + ')"></li>');
                }
                if (type.substring(0, 11) == 'application') {
                    $(div).find('ul').append('<li class="weui-uploader__file" style="background-image:url(../../images/pic_160.png);">' + res.name + '</li>');
                }
                if (type.substring(0, 5) == 'video') {
                    $(div).find('ul').append('<li class="weui-uploader__file" style="background-image:url(../../images/pic_160.png)">' +
                        '<video class="weui-uploader__file" controls  src="' + res.url + '">' + res.name + '</video></li>');
                }
                var sum = $(obj).attr('data-sum');
                var li = $(div).find('li[class=weui-uploader__file]');
                if (li.length >= sum) {
                    $($(obj).parents('div[class=weui-uploader__input-box]')).remove();
                }
                var accessory = $('#accessory').val();
                if (jQuery.isEmptyObject(accessory)) {
                    $('#accessory').val(res.id);
                } else {
                    $('#accessory').val(accessory + ',' + res.id);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                $.toast('上传失败', 'forbidden');
            }
        });
    }

    function initData() {
        var data = {
            id: id,
        }
        $.ajax({
            type: 'get',
            data: data,
            url: domainName + '/project-item/item/target/applyList',
            async: false,
            success: function (data) {
                $(data).each(function () {
                    $("#userName").val(getUserName(data[0].edit_userid));
                    $("#itemName").val(getItemName(data[0].item_id));
                    $("#content").val(data[0].content);
                    $("#start_date").val(formatDate4(data[0].start_date));
                    $("#end_date").val(formatDate4(data[0].end_date));
                    $.get(domainName + "/project-item/item/indicators/ids", {ids: data[0].target_id}, function (data1) {
                        var str = '<article class="weui-article">';
                        var count = 1;
                        $.each(data1, function (i, item) {
                            var text = getsuperior(item.site);
                            str += ' <h2 class="title">查定指标' + count + '</h2>\n' +
                                '   <section>\n' +
                                '      <h3>指标类型：' + getType(item.type) + '</h3>\n' +
                                '      	 <p>指标内容：' + item.content + '</p>\n' +
                                '      	<p>指标地址：' + text + '</p>\n' +
                                '   </section>\n' +
                                '<div class="weui-line"></div>';
                            count++;

                        });
                        str += '</article>';
                        $("#list").append(str);
                    })

                });

            }
        });
    }

    function getType(type) {
        var text = '';
        $.ajax({
            type: 'get',
            url: domainName + '/api-label/label/tree/' + type,
            async: false,
            success: function (data) {
                text = data[0].content;
            }
        });
        return text;
    }

    function getUserName(user_id) {
        $.ajaxSettings.async = false;
        var data = '';
        $.get(domainName + "/project-user/user-anon/" + user_id, function (res) {
            data = res[0]['name'];
        })
        $.ajaxSettings.async = true;
        return data;
    }

    function getTargetName(id) {
        $.ajax({
            type: 'get',
            url: domainName + '/project-item/item/indicators/list',
            contentType: "application/json; charset=utf-8",
            data: {id: id},
            success: function (data) {
                $.get(domainName + "/api-label/label/tree/" + data[0]['type'], function (res) {
                    $("#name").val(res[0].content);
                });
                var count = data[0]['count'];
                if (count != null) {
                    $.get(domainName + "/api-label/label/tree/" + data[0]['content'], function (res) {
                        $("#targetContent").val(res[0].content + "*" + count);
                    });
                } else {
                    $("#targetContent").val(data[0].content);
                }
            }
        });
    }

    function getItemName(id) {
        $.ajaxSettings.async = false;
        var data = '';
        $.get(domainName + "/project-item/item/information/list?id=" + id, function (res) {
            data = res[0]['name'];
        })
        $.ajaxSettings.async = true;
        return data;
    }

    function postResult() {
        var formdata = $("#form").serializeObject();
        formdata.id = id;
        $.ajax({
            type: 'put',
            url: domainName + '/project-item/item/target/auditApply/update',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formdata),
            success: function (data) {
                $.toptip('操作成功', 'success');
                history.back(-1);
            }
        });
    }

    $(".date").calendar({
        title: "延期批复截止时间",
        onChange: function (p, values, displayValues) {
            console.log(values, displayValues);
        }
    });
</script>
</body>

</html>
