<!DOCTYPE html>
<html>
	<head>
		<title>指标查定报告</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

		<link rel="stylesheet" href="../../weui/lib/weui.min.css">
		<link rel="stylesheet" href="../../weui/css/jquery-weui.css">
		<link rel="stylesheet" href="../../weui/css/demos.css">
		<link rel="stylesheet" href="../../css/stageSummary.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../layui/css/layui.css">

	</head>
	<body ontouchstart>

		<form id="form">
			<div class="weui-line"></div>
			<a class="weui-cell weui-cell_access" href="javascript:;">
				<div class="weui-cell__hd">
					<img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
				</div>
				<div class="weui-cell__bd weui-cell_primary">
					<p class="weui-max-title">查定详情</p>
				</div>
			</a>

			<div class="weui-line"></div>
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label class="weui-label">指标名称:</label>
				</div>
				<div class="weui-cell__bd">
					<input class="weui-input date" type="text" value="" id="name" name="name">
				</div>
			</div>
			<div class="weui-line"></div>
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label class="weui-label">查定时间:</label>
				</div>
				<div class="weui-cell__bd">
					<input class="weui-input date" type="text" value="" id="start_date" name="start_date">
				</div>
			</div>
			<div class="weui-line"></div>
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label class="weui-label">所在地域:</label>
				</div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="text" value="" id="place" name="place">
				</div>
			</div>
			<div class="weui-line"></div>
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label class="weui-label">所在街道:</label>
				</div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="text" value="" id="street" name="street">
				</div>
			</div>
			<div class="weui-line"></div>
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<label class="weui-label">申请内容:</label>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<textarea class="weui-textarea" rows="5" id="content" name="content" readonly></textarea>
				</div>
			</div>

			<div class="weui-cell">
				<div class="weui-cell__bd">
					<label class="weui-label">查定目的:</label>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<textarea class="weui-textarea" rows="5" id="purpose" name="purpose"></textarea>

				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label class="weui-label">查定依据:</label>
				</div>
			</div>

			<div class="weui-cell">
				<div class="weui-cell__bd">
					<textarea class="weui-textarea" rows="5" id="depand" name="depand"></textarea>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label class="weui-label">查定内容:</label>
				</div>
			</div>

			<div class="weui-cell">
				<div class="weui-cell__bd">
					<textarea class="weui-textarea" rows="5" id="details" name="details"></textarea>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label class="weui-label">查定方法:</label>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<textarea class="weui-textarea" rows="5" id="means" name="means"></textarea>
				</div>
			</div>

			<a class="weui-cell weui-cell_access" href="javascript:;">
				<div class="weui-cell__hd">
					<img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
				</div>
				<div class="weui-cell__bd weui-cell_primary">
					<p class="weui-max-title">图片上传</p>
				</div>
			</a>

			<div class="weui-gallery" id="gallery">
				<span class="weui-gallery__img" id="galleryImg"></span>
				<div class="weui-gallery__opr">
					<a href="javascript:" class="weui-gallery__del">
						<i class="weui-icon-delete weui-icon_gallery-delete"></i>
					</a>
				</div>
			</div>
			<div class="weui-cells weui-cells_form">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<div class="weui-uploader">
							<div class="weui-uploader__hd">
								<p class="weui-uploader__title">文件上传</p>
							</div>

							<div class="weui-uploader__bd">
								<ul class="weui-uploader__files" id="uploaderFiles"></ul>
								<div class="weui-uploader__input-box">
									<input id="uploaderInput" class="weui-uploader__input zjxfjs_file" type="file" multiple="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="weui-line"></div>
			<a class="weui-cell weui-cell_access" href="javascript:;">
				<div class="weui-cell__hd">
					<img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
				</div>
				<div class="weui-cell__bd weui-cell_primary">
					<p class="weui-max-title">审核结果</p>
				</div>
			</a>



			<div class="weui-cells__title">查定是否合格</div>
			<div class="weui-cells weui-cells_checkbox">
				<label class="weui-cell weui-check__label " style="float: left;">
					<div class="weui-cell__hd">
						<input type="radio" class="weui-check" name="status" value="3">
						<i class="weui-icon-checked"></i>
					</div>
					<div class="weui-cell__bd">
						<p>是</p>
					</div>
				</label>
				<label class="weui-cell weui-check__label" style="float: left;">
					<div class="weui-cell__hd">
						<input type="radio" name="status" class="weui-check" value="4">
						<i class="weui-icon-checked"></i>
					</div>
					<div class="weui-cell__bd">
						<p>否</p>
					</div>
				</label>
			</div>
			<div class="weui-line"></div>
			<div class="weui-btn-area">
				<a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" onclick="pass()">提交</a>
			</div>

		</form>
		<script src="../../weui/lib/jquery-2.1.4.js"></script>
		<script src="../../weui/lib/fastclick.js"></script>
		<script src="../../weui/js/jquery-weui.js"></script>
		<script src="../../weui/js/swiper.js"></script>
		<script src="../../weui/js/city-picker.js"></script>
		<script src="../../js/jquery-weui.min.js"></script>
		<script type="text/javascript" src="../../../../layui/layui.js"></script>

		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
		<script>
			var id = 1;
			$(function() {
				var names = [];
				var tmpl ='',
					$gallery = $("#gallery"),
					$galleryImg = $("#galleryImg"),
					$uploaderInput = $("#uploaderInput"),
					$uploaderFiles = $("#uploaderFiles");
				$uploaderInput.on("change", function(e) {
					var src, url = window.URL || window.webkitURL || window.mozURL,
						files = e.target.files;
					for (var i = 0, len = files.length; i < len; ++i) {
						var file = files[i];
						if (url) {
							src = url.createObjectURL(file);
						} else {
							src = e.target.result;
						}
						tmpl =  '<li class="weui-uploader__file files" style="background-image:url('+src+')" ></li>';
						$uploaderFiles.append(tmpl);
					}
				});
				var index; //第几张图片

				$uploaderFiles.on("click", "li", function() {
					$("#fileName").val(names[index]);
					index = $(this).index();
					$galleryImg.attr("style", this.getAttribute("style"));
					$gallery.fadeIn(100);

				});
				$gallery.on("click", function() {
					$gallery.fadeOut(100);
				});
				//删除图片
				$(".weui-gallery__del").click(function() {
					$uploaderFiles.find("li").eq(index).remove();
				});
			});

			function initData() {
				var data = {
					id: id,
				}
				$.ajax({
					type: 'get',
					data: data,
					url: domainName + '/project-item/item/target/applyList',
					async: false,
					success: function(data) {
						$(data).each(function() {
							$("#content").val(data[0].content);
							getProvince(data[0].provinceCode, data[0].cityCode, data[0].areaCode);
							if (data[0].postType == 2) {
								$("#street").val(data[0].street);
							} else {
								getStreet(data[0].streetCode);
							}
							getTargetName(data[0].target_id);

							$("#start_date").val(formatDate3(data[0].start_date));
							$("#end_date").val(formatDate3(data[0].end_date));
						});

					}
				});
			}

			function getStreet(streetCode) {
				$.ajax({
					type: 'get',
					url: domainName + '/map/street/one/' + streetCode,
					async: false,
					success: function(data) {
						$("#street").val(data.streetName);
					}
				});
			}

			function getProvince(provinceCode, cityCode, areaCode) {
				var aaa = "&nbsp";
				var province = "",
					city = "",
					area = "";
				$.ajax({
					type: 'get',
					url: domainName + '/map/province/one/' + provinceCode,
					async: false,
					success: function(data) {
						province = data.provinceName;
					}
				});
				$.ajax({
					type: 'get',
					url: domainName + '/map/city/one/' + cityCode,
					async: false,
					success: function(data) {
						city = data.cityName;
					}
				});
				$.ajax({
					type: 'get',
					url: domainName + '/map/area/one/' + areaCode,
					async: false,
					success: function(data) {
						var name = data.areaName;
						area = name;
					}
				});
				$("#place").val(province + aaa + city + aaa + area);
			}

			function pass() {
				 var formdata = $("#form").serializeObject();
				formdata.accessory = formdata.accessory.join(',');
				$.ajax({
					type: 'put',
					url: domainName + '/project-item/item/target/auditApply/update',
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify(formdata),

					success: function(data) {
						var msg = "成功";
						layer.msg(msg, {
							shift: -1,
							time: 1000
						}, function() {
							parent.location.reload();
						});
					}
				});
			}
		</script>
		<script>
			$(".swiper-container").swiper({
				loop: true,
				autoplay: 3000
			});
		</script>

	</body>

</html>
