<!DOCTYPE html>
<html>
<head>
    <title>查定申请列表</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../../../../layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../../weui/css/weui.css" />
    <link rel="stylesheet" href="../../weui/css/weuix.css" />
    <link rel="stylesheet" href="../../weui/css/example.css" />

</head>

<body ontouchstart>

<div class="page__bd">
    <div class="weui-panel" id="list">


    </div>
</div>

<script type="text/javascript" src="../../../../js/libs/jquery-3.3.1.min.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../weui/js/swiper.js"></script>
<script src="../../../../js/constant.js"></script>
<script src="../../../../js/common.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script src="../../js/layer.js"></script>
<script src="../../js/jquery-weui.min.js"></script>
<script type="text/javascript" src="auditApply.js"></script>

<script>
    
    var status = 1;
    var itemId = getUrlParam("itemId");
    var deptCode;
    var unit;
    var manage_dept;
    var identity;
    $(function () {
        FastClick.attach(document.body);
    });
    $(function () {
        $.ajax({
            type: 'get',
            url: domainName + "/project-item/item/target/applyList",
            contentType: "application/json; charset=utf-8",
            data: {
                status: status, item_id : itemId,
            },
            success: function (data) {

                var str = '';
                if (status == 2) {
                    $(data).each(function () {
                        str +='<div class="weui-panel">\n' +
                            '    <div class="weui-panel__bd">\n' +
                            '    <a href="auditfyApplyResult.html?id=' + this.id + '">\n' +
                            '    <div class="weui-media-box weui-media-box_text">\n' +
                            '    <h4 class="weui-media-box__title">' + getItemName(this.item_id) + '</h4>\n' +
                            '    <p class="weui-media-box__desc">\n' +
                            '    </p>\n' +
                            '    <ul class="weui-media-box__info">\n' +
                            '    <li class="weui-media-box__info__meta">' +getUserName(this.edit_userid) + '</li>\n' +
                            '    <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">' + getTime(this.start_date) + '</li>\n' +
                            '    <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">' + getStatus(this.status)+' </li>\n' +
                            '    </ul>\n' +
                            '    </div>\n' +
                            '    </a>\n' +
                            '    </div>\n' +
                            '    </div>';


                    });
                } else if (status == 3 || status == 4) {
                    $(data).each(function () {
                        str +='<div class="weui-panel">\n' +
                            '    <div class="weui-panel__bd">\n' +
                            '    <a href="seeAuditfyApplyResult.html?id=' + this.id + '">\n' +
                            '    <div class="weui-media-box weui-media-box_text">\n' +
                            '    <h4 class="weui-media-box__title">' + getItemName(this.item_id) + '</h4>\n' +
                            '    <p class="weui-media-box__desc">\n' +
                            '    </p>\n' +
                            '    <ul class="weui-media-box__info">\n' +
                            '    <li class="weui-media-box__info__meta">' +getUserName(this.edit_userid) + '</li>\n' +
                            '    <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">' + getTime(this.start_date) + '</li>\n' +
                            '    <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">' + getStatus(this.status)+' </li>\n' +
                            '    </ul>\n' +
                            '    </div>\n' +
                            '    </a>\n' +
                            '    </div>\n' +
                            '    </div>';


                    });
                } else if (status == 1 || status == 5) {
                    $(data).each(function () {
                        str +='<div class="weui-panel">\n' +
                            '    <div class="weui-panel__bd">\n' +
                            '    <a href="checkAuditfyApply.html?id=' + this.id + '">\n' +
                            '    <div class="weui-media-box weui-media-box_text">\n' +
                            '    <h4 class="weui-media-box__title">' + getItemName(this.item_id) + '</h4>\n' +
                            '    <p class="weui-media-box__desc">\n' +
                            '    </p>\n' +
                            '    <ul class="weui-media-box__info">\n' +
                            '    <li class="weui-media-box__info__meta">' +getUserName(this.edit_userid) + '</li>\n' +
                            '    <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">' + getTime(this.start_date) + '</li>\n' +
                            '    <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">' + getStatus(this.status)+' </li>\n' +
                            '    </ul>\n' +
                            '    </div>\n' +
                            '    </a>\n' +
                            '    </div>\n' +
                            '    </div>';

                    });
                }

                if (!str){
                    $.toptip('没有待初审的查定申请', 'error');
                }
                $("#list").append(str);
            }
        });
    })


    function getCompanryCode() {

        $.ajax({
            type: 'get',
            url: domainName + '/api-c/company/now-user',
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                identity = data.identity;
                if (identity == "PARTY_A") {
                    manage_dept = data.signName;
                } else if (identity == "PARTY_C") {
                    unit = data.signName;
                }
            }
        });

    }

</script>
<script src="../../weui/js/jquery-weui.js"></script>

</body>
</html>
