<!DOCTYPE html>
<html>
<head>
    <title>指标查定</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" href="../../css/stageSummary.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../layui/css/layui.css">

</head>
<body ontouchstart>

<div style="z-index: 999999">

    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd">
            <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
        </div>
        <div class="weui-cell__bd weui-cell_primary">
            <p class="weui-max-title">指标详情</p>
        </div>
    </a>
    <div class="weui-line"></div>
    <div class="weui-panel" id="list">


    </div>

    <article class="weui-article">

    </article>

    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd">
            <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
        </div>
        <div class="weui-cell__bd weui-cell_primary">
            <p class="weui-max-title">查定申请详情</p>
        </div>
    </a>

    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">项目名称:</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" value="" id="itemName" name="itemName" placeholder="" readonly>
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">提交人:</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="userName" name="userName" placeholder="" readonly>
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">建议查定时间:</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" value="" id="start_date" readonly>
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">预计结束时间:</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" value="" id="end_date" readonly>
        </div>
    </div>



    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">申请内容:</label>
        </div>
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" rows="5" id="content" name="content" readonly></textarea>
        </div>
    </div>

    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd">
            <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
        </div>
        <div class="weui-cell__bd weui-cell_primary">
            <p class="weui-max-title">审核结果</p>
        </div>
    </a>



    <div class="weui-cell__bd">
        <input class="weui-input" id="wethpass" type="text" value="" name="wethpass" readonly style="display: none">
    </div>
    <div id="check">
        <div class="weui-cells__title">是否进行查定</div>
        <form id="form">
            <div class="weui-cells weui-cells_checkbox">
                <label class="weui-cell weui-check__label " style="float: left;">
                    <div class="weui-cell__hd">
                        <input type="radio" class="weui-check" name="status" value="2">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>是</p>
                    </div>
                </label>
                <label class="weui-cell weui-check__label" style="float: left;">
                    <div class="weui-cell__hd">
                        <input type="radio" name="status" class="weui-check" value="5">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>否</p>
                    </div>
                </label>
            </div>

            <div class="weui-line"></div>
            <div class="weui-btn-area">
                <button onclick="postResult()" type="button" class="weui-btn weui-btn_primary">提交</button>
            </div>

        </form>
    </div>
</div>

<script src="../../weui/lib/jquery-2.1.4.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../weui/js/swiper.js"></script>
<script src="../../../../js/constant.js"></script>
<script src="../../../../js/common.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script type="text/javascript" src="../../../../js/chooseArea.js"></script>
<script type="text/javascript" src="auditApply.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script>
    var id = getUrlParam("id");
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
    initData();

    function initData() {
        var data = {
            id: id,
        }
        $.ajax({
            type: 'get',
            data: data,
            url: domainName + '/project-item/item/target/applyList',
            async: false,
            success: function (data) {
                $(data).each(function () {
                    $("#userName").val(getUserName(data[0].edit_userid));
                    $("#itemName").val(getItemName(data[0].item_id));
                    $("#content").val(data[0].content);
                    $("#start_date").val(formatDate4(data[0].start_date));
                    $("#end_date").val(formatDate4(data[0].end_date));
                    status(data[0].status);
                    $.get(domainName + "/project-item/item/indicators/ids", {ids: data[0].target_id}, function (data1) {
                        var str = '<article class="weui-article">';
                        var count = 1;
                        $.each(data1, function (i, item) {
                            var text = getsuperior(item.site);
                            str += ' <h2 class="title">'+count+'</h2>\n' +
                                '   <section>\n' +
                                '      <h3>指标类型：'+getType(item.type)+'</h3>\n' +
                                '      	 <p>指标内容：'+item.content+'</p>\n' +
                                '      	<p>指标地址：' + text + '</p>\n' +
                                '   </section>\n' +
                                '<div class="weui-line"></div>';
                            count++;

                        });
                        str +='</article>';
                        $("#list").append(str);
                    })
                });

            }
        });
    }

    function status(status) {
        if (status != 1) {
            document.getElementById('check').style.display = 'none';
            var con='';
            if (status == 2){
                con="查定中";
            }else if (status == 3){
                con="查定合格";
            }else if (status == 4){
                con="查定不合格";
            }else if (status == 5){
                con="查定申请未通过";
            }
            $("#wethpass").val(con);
            document.getElementById('wethpass').style.display = 'block';
        }
    }

    function getTargetName(id) {
        $.ajax({
            type: 'get',
            url: domainName + '/project-item/item/indicators/ids',
            contentType: "application/json; charset=utf-8",
            data: {id: id},
            success: function (data) {
                var str = '<article class="weui-article">';
                var count = 1;
                $(data).each(function () {
                    var text = getsuperior(this.site);
                    str += ' <h2 class="title">'+count+'</h2>\n' +
                        '   <section>\n' +
                        '      <h3>'+getType(this.type)+'</h3>\n' +
                        '      	 <p>'+this.content+'</p>\n' +
                        '      	<p>指标地址：' + text + '</p>\n' +
                        '   </section>' ;
                    count++;

                });
                str +='</article>';
                $("#list").append(str);
            }
        });
    }

    function getItemName(id) {
        $.ajaxSettings.async = false;
        var data = '';
        $.get(domainName + "/project-item/item/information/list?id=" + id, function (res) {
            data = res[0]['name'];
        })
        $.ajaxSettings.async = true;
        return data;
    }

    function postResult() {
        var formdata = $("#form").serializeObject();
        formdata.id = id;
        $.ajax({
            type: 'put',
            url: domainName + '/project-item/item/target/auditApply/update',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formdata),
            success: function (data) {
                $.toptip('操作成功', 'success');
                history.back(-1);
            }
        });
    }
    function getUserName(user_id) {
        $.ajaxSettings.async = false;
        var data = '';
        $.get(domainName + "/project-user/user-anon/" + user_id, function (res) {
            data = res[0]['name'];
        })
        $.ajaxSettings.async = true;
        return data;
    }
    function getType(type) {
        var text = '';
        $.ajax({
            type: 'get',
            url: domainName + '/api-label/label/tree/' + type,
            async: false,
            success: function (data) {
                text = data[0].content;
            }
        });
        return text;
    }

</script>
</body>

</html>
