<!DOCTYPE html>
<html>
<head>
    <title>指标查定</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" href="../../css/stageSummary.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../layui/css/layui.css">
    <script src="../../weui/js/zepto.min.js"></script>
    <script src="../../weui/js/zepto.weui.js"></script>

    <style>
        .field {
            margin-top: 10px;
            padding: 0 15px;
            color: #999999;
            font-size: 14px;
            text-align: right;
            line-height: 1.5em;
            width: 18%;
        }

        .content {
            margin-top: 10px;
            padding-right: 15px;
            color: #666666;
            font-size: 14px;
            text-align: left;
            line-height: 1.5em;
        }
    </style>
</head>
<body ontouchstart>
<header class='demos-header'>
    <h1 class="demos-title">指标查定起草</h1>
</header>
<h3>项目基本信息</h3>
<div class="weui-flex bg-white">
    <div class="field">
        <div>合同编号</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="contract_no"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>项目类别</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="type"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>项目名称</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="name"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>委托单位</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="entrusting_party"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>承担单位</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="responsible_unit"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>管理单位</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="management_unit"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>下达文号</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="document_number"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>实施期限</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="period"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>项目地点</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="site"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>总体目标</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="overall_objective"></span>
        </div>
    </div>
</div>
<div class="weui-flex bg-white">
    <div class="field">
        <div>主要研究内容</div>
    </div>
    <div class="weui-flex__item">
        <div class="content">
            <span id="research_contents"></span>
        </div>
    </div>
</div>

<div style="z-index: 999999">

    <h3>指标详情</h3>
    <div class="weui-panel" id="list">

    </div>

    <article class="weui-article">

    </article>

    <h3>查定申请详情</h3>

    <div class="weui-flex bg-white">
        <div class="field">
            <div>项目名称:</div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <input class="weui-input" type="text" value="" id="itemName" name="itemName" placeholder="" readonly>
            </div>
        </div>
    </div>
    <div class="weui-flex bg-white">
        <div class="field">
            <div>提交人:</div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <input class="weui-input" type="text" id="userName" name="userName" placeholder="" readonly>
            </div>
        </div>
    </div>
    <div class="weui-flex bg-white">
        <div class="field">
            <div>建议查定时间:</div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <input class="weui-input" type="text" value="" id="start_date" readonly>
            </div>
        </div>
    </div>
    <div class="weui-flex bg-white">
        <div class="field">
            <div>预计结束时间:</div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <input class="weui-input" type="text" value="" id="end_date" readonly>
            </div>
        </div>
    </div>


    <div class="weui-flex bg-white">
        <div class="field">
            <div>申请内容:</div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <textarea class="weui-textarea" rows="5" id="content" name="content" readonly></textarea>
            </div>
        </div>
    </div>

    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd">
            <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
        </div>
        <div class="weui-cell__bd weui-cell_primary">
            <p class="weui-max-title">审核结果</p>
        </div>
    </a>


    <div class="weui-cell__bd">
        <input class="weui-input" id="wethpass" type="text" value="" name="wethpass" readonly style="display: none">
    </div>
    <div id="check">
        <div class="weui-cells__title">是否进行查定</div>
        <form id="form">
            <div class="weui-cells weui-cells_checkbox">
                <label class="weui-cell weui-check__label " style="float: left;">
                    <div class="weui-cell__hd">
                        <input type="radio" class="weui-check" name="status" value="2">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>是</p>
                    </div>
                </label>
                <label class="weui-cell weui-check__label" style="float: left;">
                    <div class="weui-cell__hd">
                        <input type="radio" name="status" class="weui-check" value="5">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>否</p>
                    </div>
                </label>
            </div>
            <div class="weui-line"></div>
            <div class="weui-btn-area">
                <a style="margin:40px 30px;" id="test" class="weui-btn weui-btn_mini weui-btn_primary">匹配专家</a>
            </div>
            <div class="weui-flex bg-white">
                <div class="field">
                    <div>指定查定开始时间:</div>
                </div>
                <div class="weui-flex__item">
                    <div class="content">
                        <input class="weui-input date" type="text" value="" placeholder="点击此处选择查定时间" id="start_date_true"
                               name="start_date">
                    </div>
                </div>
            </div>
            <div class="weui-flex bg-white">
                <div class="field">
                    <div>指定查定结束时间</div>
                </div>
                <div class="weui-flex__item">
                    <div class="content">
                        <input class="weui-input date" type="text" value="" placeholder="点击此处选择查定时间" id="end_date_true"
                               name="end_date">
                    </div>
                </div>
            </div>
            <div class="weui-btn-area">
                <button onclick="postResult()" type="button" class="weui-btn weui-btn_primary">提交</button>
            </div>

        </form>
    </div>
</div>

<script src="../../weui/lib/jquery-2.1.4.js"></script>
<script src="../../weui/lib/fastclick.js"></script>

<script src="../../weui/js/swiper.js"></script>
<script src="../../../../js/constant.js"></script>
<script src="../../../../js/common.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script type="text/javascript" src="../../../../js/chooseArea.js"></script>
<script type="text/javascript" src="auditApply.js"></script>
<script src="../../js/getItemInfo.js"></script>

<script src="../../js/jquery-weui.min.js"></script>

<script src="../../../../js/sendMessage.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
    //延期批复截止时间
    $(".date").calendar({
        title: "延期批复截止时间",
        onChange: function (p, values, displayValues) {
            console.log(values, displayValues);
        }
    });
</script>
<script type="text/javascript" src="../../js/matchExpert.js"></script>
<script>
    var match = false;
    var item_id;
    var target_id;
    var id = getUrlParam("id");
    var ids = new Array();
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
    initData();
    $.matchExpert({
        elem: '#test',
        itemId: item_id,
        defaultSave: false,//自定义保存
        defaultSaveFun: function (arr) {
            if (arr.length == 0) {
                $.toptip('未选择专家！', 'error');
                return;
            } else {
                ids = arr;
                match = true;
            }
            console.log(arr);

        }
    });

    function initData() {
        var data = {
            id: id,
        }
        $.ajax({
            type: 'get',
            data: data,
            url: domainName + '/project-item/item/target/applyList',
            async: false,
            success: function (data) {
                $("#userName").val(getUserName(data[0].edit_userid));
                $("#itemName").val(getItemName(data[0].item_id));
                queryInformation(data[0].item_id);
                $("#content").val(data[0].content);
                $("#start_date").val(formatDate4(data[0].start_date));
                $("#end_date").val(formatDate4(data[0].end_date));
                status(data[0].status);
                item_id = data[0].item_id;
                target_id = data[0].target_id;
                var ids = data[0].target_id.split(",");
                $.get(domainName + "/project-item/item/indicators/ids", {ids: data[0].target_id}, function (data1) {
                    var str = '<article class="weui-article">';
                    var count = 1;
                    $.each(data1, function (i, item) {
                        var text = getsuperior(item.site);
                        str += ' <h2 class="title">' + count + '</h2>\n' +
                            '   <section>\n' +
                            '      <h3>指标类型：' + getType(item.type) + '</h3>\n' +
                            '      	 <p>指标内容：' + item.content + '</p>\n' +
                            '      	<p>指标地址：' + text + '</p>\n' +
                            '   </section>\n' +
                            '<div class="weui-line"></div>';
                        count++;

                    });
                    str += '</article>';
                    $("#list").append(str);
                })


            }
        });
    }

    function status(status) {
        if (status != 1) {
            document.getElementById('check').style.display = 'none';
            var con = '';
            if (status == 2) {
                con = "查定中";
            } else if (status == 3) {
                con = "查定合格";
            } else if (status == 4) {
                con = "查定不合格";
            } else if (status == 5) {
                con = "查定申请未通过";
            }
            $("#wethpass").val(con);
            document.getElementById('wethpass').style.display = 'block';
        }
    }

    function getTargetName(id) {
        $.ajax({
            type: 'get',
            url: domainName + '/project-item/item/indicators/ids',
            contentType: "application/json; charset=utf-8",
            data: {id: id},
            success: function (data) {
                var str = '<article class="weui-article">';
                var count = 1;
                $(data).each(function () {
                    var text = getsuperior(this.site);
                    str += ' <h2 class="title">' + count + '</h2>\n' +
                        '   <section>\n' +
                        '      <h3>' + getType(this.type) + '</h3>\n' +
                        '      	 <p>' + this.content + '</p>\n' +
                        '      	<p>指标地址：' + text + '</p>\n' +
                        '   </section>';
                    count++;

                });
                str += '</article>';
                $("#list").append(str);
            }
        });
    }

    function getItemName(id) {
        $.ajaxSettings.async = false;
        var data = '';
        $.get(domainName + "/project-item/item/information/list?id=" + id, function (res) {
            data = res[0]['name'];
        })
        $.ajaxSettings.async = true;
        return data;
    }

    function postResult() {
        var formdata = $("#form").serializeObject();
        formdata.id = id;
        if (formdata.status == 2) {
            //匹配了专家，将专家与项目关联，并发送信息
            if (match) {
                for (var i = 0; i < ids.length; i++) {
                    var expert_id = ids[i].userId;
                    var result = {
                        "item_id": item_id,
                        "audit_apply_id": id,
                        "expert_id": expert_id,
                        "target_id": target_id,
                        "end_date": formdata.end_date_true,
                        "start_date": formdata.start_date_true
                    };
                    $.ajax({
                        type: 'post',
                        url: domainName + '/project-item/item/target/auditApplyResult/one',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(result),
                        success: function (data) {
                        }
                    });
                }
            } else {
                $.toptip('请指定专家', 'error');
                return;
            }
        } else if (formdata.status == 5) {

        }
        $.ajax({
            type: 'put',
            url: domainName + '/project-item/item/target/auditApply/update',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formdata),
            success: function (data) {
                //匹配专家
                $.toptip('操作成功', 'success');
                history.back(-1);
            }
        });
    }

    function getUserName(user_id) {
        $.ajaxSettings.async = false;
        var data = '';
        $.get(domainName + "/project-user/user-anon/" + user_id, function (res) {
            data = res[0]['name'];
        })
        $.ajaxSettings.async = true;
        return data;
    }

    function getType(type) {
        var text = '';
        $.ajax({
            type: 'get',
            url: domainName + '/api-label/label/tree/' + type,
            async: false,
            success: function (data) {
                text = data[0].content;
            }
        });
        return text;
    }

</script>
</body>

</html>
