<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinlang.zly.label.mapper.LabelMapper">

	<resultMap id="BaseResultMap" type="com.xinlang.zly.label.bean.Label">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="sign" jdbcType="VARCHAR" property="sign" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="sort" jdbcType="VARCHAR" property="sort" />
		<result column="createTime" jdbcType="TIMESTAMP" property="create_time" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="update_time" />
		<result column="enabled" jdbcType="BIT" property="enabled" />
	</resultMap>

</mapper>