
/* 粗体 */
.bold{

}
.title {
    text-align: center;
    line-height: 30px;
    color: black;
    font-weight: 600;
    background-color: #e4e4e4;
    height: 30px;
}
/* 水平居中 */
.center{
    text-align:center;
}
.btn-box{
    position: fixed;
    top: 25%;
    z-index: 1;
}
.operation{
    display: none;
    position: absolute;
    bottom: 0;
    right: -80px;
}
.operation a{
    background-color: #d2d2d2;
}
.btn-box>div{
    margin: 5px;
}
.btn-box a{
    background-color: #c2c2c2;
}
.content{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
table tr td:hover>div{
    display: block;
}