<!DOCTYPE html>
<html>
<head>
    <title>工作日志起草</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
</head>

<body>

<h3 style="margin-top: 20px;">类型分布</h3>
<canvas id="myChart" style="float: left;width: 100%;"></canvas>
<div style="width: 100%;float: left;"></div>
<h3>状态分布</h3>
<canvas id="container" style="float: left;width: 100%;"></canvas>
<div style="width: 100%;float: left;"></div>
<!--<h3>时间分布</h3>
<canvas id="container1" style="float: left;width: 100%;"></canvas>-->
<h3>时间分布</h3>
<canvas id="container2" style="float: left;width: 100%;"></canvas>

</body>
<script src="https://gw.alipayobjects.com/os/antv/assets/f2/3.4.2/f2.min.js"></script>
<script src="../weui/lib/jquery-2.1.4.js"></script>
<script src="../weui/lib/fastclick.js"></script>
<script src="../weui/js/jquery-weui.js"></script>
<script src="../weui/js/swiper.js"></script>
<script src="../../../js/constant.js"></script>
<script src="../../../js/common.js"></script>
<script type="text/javascript" src="../../../js/jq.js"></script>
<script src="../weui/js/jquery-weui.js"></script>
<script>
    initData();


    function initData() {
        var contents = new Array();//项目类型
        var signs = new Array();//项目类型标识
        var counts = new Array();//项目类型数量
        var statuss = new Array();//项目类型
        var counts1 = new Array();//项目进度数量
        var countItem = 0;
        var dataArr = getMonths();
        var counts2 = getCount2();
        var counts3 = getCount2();

        //生成月份数组
        $.ajax({
            type: 'get',
            url: domainName + '/api-label/label/tree/' + "PLAN_CATEGOR",
            async: false,
            success: function (data) {
                $(data[0].child).each(function () {
                    var content = this.content;
                    contents.push(content);
                    var sign = this.sign;
                    signs.push(sign);
                    counts.push(0);
                });

            }
        });
        var counts4 = getCountA(counts.length);
        $.ajax({
            type: 'get',
            url: domainName + "/project-item/item/information/list",
            async: false,
            success: function (data) {
                $(data).each(function () {

                    var status = "";
                    if (this.status <= 1) {
                        return true;
                    } else if (this.status == 2) {
                        status = "进行中";
                    } else if (this.status == 3) {
                        status = "结题中";
                    } else if (this.status == 4) {
                        status = "已结题";
                    } else if (this.status == 5) {
                        status = "终止中";
                    } else if (this.status == 6) {
                        status = "已终止";
                    }
                    countItem++;
                    var b = statuss.indexOf(status);
                    if (b == -1) {

                        statuss.push(status);
                        counts1.push(1);
                    } else {
                        counts1[b] = counts1[b] + 1;
                    }
                    var sign = this.type;
                    var a = signs.indexOf(sign);
                    counts[a] = counts[a] + 1;
                    var start = formatDateY(this.start_date);
                    var b = dataArr.indexOf(start);

                    counts4[a*6+b] = counts4[a*6+b] + 1;
                    if (a==0){
                        counts2[b] = counts2[b] + 1;
                    }else if (a==1){
                        counts3[b] = counts3[b] + 1;
                    }


                });


            }
        });

        const data = [];
        const data1 = [];
        const data2 = [];
        for (var i = 0; i < counts.length; i++) {
            var res = {"genre": contents[i], "sold": counts[i]};
            data.push(res);
        }
        for (var i = 0; i < statuss.length; i++) {
            var math = counts1[i] / countItem * 1000;
            math = Math.round(math);
            var res1 = {"name": statuss[i], "percent": math/10, "a": "1"};
            data1.push(res1);
        }
        for (var i = 0; i < counts.length; i++) {
            for (var a= 0;a< dataArr.length;a++){
                var res2 = {"name": contents[i], "月份": dataArr[a],"月均降雨量":counts4[i*6+a]};

                data2.push(res2);
            }
        }

        // Step 1: 创建 Chart 对象
        const chart = new F2.Chart({
            id: 'myChart',
            pixelRatio: window.devicePixelRatio, // 指定分辨率
        });

        // Step 2: 载入数据源
        chart.source(data);

        // Step 3：创建图形语法，绘制柱状图，由 genre 和 sold 两个属性决定图形位置，genre 映射至 x 轴，sold 映射至 y 轴
        chart
            .interval()
            .position('genre*sold')
            .color('genre');

        // Step 4: 渲染图表
        chart.render();

        //====================================================================================================

        const map = {};
        data1.forEach(function (obj) {
            map[obj.name] = obj.percent + '%';
        });

        const chart1 = new F2.Chart({
            id: 'container',
            pixelRatio: window.devicePixelRatio,
            padding: [20, 'auto']
        });
        chart1.source(data1, {
            percent: {
                formatter: function formatter(val) {
                    return val + '%';
                }
            }
        });
        chart1.tooltip(false);
        chart1.legend({
            position: 'right',
            itemFormatter: function itemFormatter(val) {
                return val + '    ' + map[val];
            }
        });
        chart1.coord('polar', {
            transposed: true,
            innerRadius: 0.7,
            radius: 0.85
        });
        chart1.axis(false);
        chart1.interval()
            .position('a*percent')
            .color('name', ['#FE5D4D', '#3BA4FF', '#737DDE'])
            .adjust('stack');

        chart1.guide().html({
            position: ['50%', '45%'],
            html: `<div style="width: 250px;height: 40px;text-align: center;">
      <div style="font-size: 16px">项目总数</div>
      <div style="font-size: 24px">` + countItem + `</div>
    </div>`
        });
        chart1.render();

        //====================================================================================================

        /*        const chart2 = new F2.Chart({
                    id: 'container1',
                    pixelRatio: window.devicePixelRatio
                });

                chart2.source(data2, {
                    sales: {
                        tickCount: 5
                    }
                });
                chart2.coord({
                    transposed: true
                });
                chart2.tooltip({
                    showItemMarker: false,
                    onShow: function onShow(ev) {
                        const items = ev.items;
                        items[0].name = null;
                        items[0].name = items[0].title;
                        items[0].value = '¥ ' + items[0].value;
                    }
                });
                chart2.interval().position('year*sales');
                chart2.render();*/



        const chart3 = new F2.Chart({
            id: 'container2',
            pixelRatio: window.devicePixelRatio
        });
        chart3.source(data2);
        chart3.tooltip({
            custom: true, // 自定义 tooltip 内容框
            onChange: function onChange(obj) {
                const legend = chart3.get('legendController').legends.top[0];
                const tooltipItems = obj.items;
                const legendItems = legend.items;
                const map = {};
                legendItems.forEach(function(item) {
                    map[item.name] = _.clone(item);
                });
                tooltipItems.forEach(function(item) {
                    const name = item.name;
                    const value = item.value;
                    if (map[name]) {
                        map[name].value = value;
                    }
                });
                legend.setItems(_.values(map));
            },
            onHide: function onHide() {
                const legend = chart3.get('legendController').legends.top[0];
                legend.setItems(chart.getLegendItems().country);
            }
        });

        chart3.interval()
            .position('月份*月均降雨量')
            .color('name')
            .adjust({
                type: 'dodge',
                marginRatio: 0.05 // 设置分组间柱子的间距
            });
        chart3.render();
    }

    function getMonths() {
        var dataArr = [];
        var data = new Date();
        var year = data.getFullYear();
        data.setMonth(data.getMonth() + 1, 1); //获取到当前月份,设置月份
        for (var i = 0; i < 6; i++) {
            data.setMonth(data.getMonth() - 1); //每次循环一次 月份值减1
            var m = data.getMonth() + 1;
            m = m < 10 ? "0" + m : m;
            dataArr.push(data.getFullYear() + "-" + m);
        }
        return dataArr;
    }

    function getCount2() {
        var dataCoun = [];
        for (var i = 0; i < 6; i++) {
            dataCoun.push(0);
        }
        return dataCoun;
    }
    function getCountA(a) {
        var dataCoun = [];
        var dataCoun = [];
        for (var b = 0; b < a; b++) {
            for (var i = 0; i < 6; i++) {
                dataCoun.push(0);
            }
        }

        return dataCoun;
    }

    function formatDateY(now) {
        var now = new Date(now);
        var year = now.getFullYear();
        var month = now.getMonth() + 1;
        return year + "-" + fixZero(month, 2);
    }
</script>
</html>