<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我</title>
    <link rel="stylesheet" href="../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../css/demos.css">
    <link rel="stylesheet" href="../css/self.css">
</head>

<body>
    <header>
        <div class="head-box">
            <h3>我</h3>
            <div class="head-icon-outer">
                <div class="head-icon"></div>
            </div>
            <h5>头像点击可以更换</h5>
        </div>
    </header>
    <article>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>资料修改</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>密码修改</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
        </div>
    </article>
    <footer>
    </footer>
</body>

</html>