@import "common.css";
.weui-interval-min{height: 3px;width: 95%;background-color: #e5e5e5;margin: 2.5% 2.5%;}
.weui-interval-centre{height: 6px;width: 95%;background-color: #00968878;margin:  2.5% 2.5%;}
.stage-summary-a{margin-left:30px;color: #2D93CA;float: right;}
