<!DOCTYPE html>
<html>
<head>
    <title>执行报告</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" href="../../css/stageSummary.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../layui/css/layui.css">

</head>
<body ontouchstart>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../images/swiper-1.jpg" style="height: 150px;width: 100%"/></div>
        <div class="swiper-slide"><img src="../../images/swiper-2.jpg" style="height: 150px;width: 100%"/></div>
        <div class="swiper-slide"><img src="../../images/swiper-3.jpg" style="height: 150px;width: 100%"/></div>
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-interval"></div>

<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd">
        <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <p class="weui-max-title">基本信息</p>
    </div>
</a>

<div class="weui-cell">
    <div class="weui-cell__hd">
        <label class="weui-check__label">项目名称:</label>
    </div>
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="">
    </div>
</div>
<div class="weui-line"></div>

<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="合同编号">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="项目类别">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="承担单位">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="填报人">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="填报人电话">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="填报人邮箱">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="填报日期">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-interval"></div>

<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd">
        <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <p class="weui-max-title">项目基本信息及执行进展情况</p>
    </div>
</a>

<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="合同规定起止时间">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cells__title">是否申请延期</div>
<div class="weui-cells weui-cells_checkbox">
    <label class="weui-cell weui-check__label " style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" class="weui-check" name="checkbox" value="是" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>是</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>否</p>
        </div>
    </label>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input date" type="text" placeholder="延期批复截止时间">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cells__title">产学研联合</div>
<div class="weui-cells weui-cells_checkbox">
    <label class="weui-cell weui-check__label " style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" class="weui-check" name="checkbox2" value="是" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>是</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox2" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>否</p>
        </div>
    </label>
</div>
<div class="weui-line"></div>
<div class="weui-cells__title">创新类型</div>
<div class="weui-cells weui-cells_checkbox">
    <label class="weui-cell weui-check__label " style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" class="weui-check" name="checkbox3" value="是" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>原始创新</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox3" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>集成创新</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox3" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>引进消化吸收再创新</p>
        </div>
    </label>
</div>
<div class="weui-line"></div>
<div class="weui-cells__title">合作形式</div>
<div class="weui-cells weui-cells_checkbox">
    <label class="weui-cell weui-check__label " style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" class="weui-check" name="checkbox4" value="是" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>"国外（境外）合作</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox4" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>区外合作</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox4" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>区内合作</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox4" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>自主研发</p>
        </div>
    </label>
</div>
<div class="weui-line"></div>
<div class="weui-cells__title">主要技术来源单位</div>
<div class="weui-cells weui-cells_checkbox">
    <label class="weui-cell weui-check__label " style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" class="weui-check" name="checkbox5" value="区外科研院所" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>区外科研院所</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox5" class="weui-check" value="区外大专院校">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>区外大专院校</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox5" class="weui-check" value="区外企业及其所属科技机构">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>区外企业及其所属科技机构</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox5" class="weui-check" value="区内科研院所">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>区内科研院所</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label " style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" class="weui-check" name="checkbox5" value="区内大专院校">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>区内大专院校</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox5" class="weui-check" value="区内企业及其所属科技机构">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>区内企业及其所属科技机构</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox5" class="weui-check" value="国外（境外）">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>国外（境外）</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox5" class="weui-check" value="自有技术">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>自有技术</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox5" class="weui-check" value="其他">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>其他</p>
        </div>
    </label>
</div>
<div class="weui-line"></div>
<div class="weui-cells__title">项目进展情况</div>
<div class="weui-cells weui-cells_checkbox">
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox6" class="weui-check" value="按计划进度进行" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>按计划进度进行</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox6" class="weui-check" value="进度超前">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>进度超前</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox6" class="weui-check" value="区拖延">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>拖延</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label " style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" class="weui-check" name="checkbox6" value="申请终止">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>申请终止</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox6" class="weui-check" value="停顿">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>停顿</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox6" class="weui-check" value="撤销">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>撤销</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox6" class="weui-check" value="已完成(未验收)">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>已完成(未验收)</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox6" class="weui-check" value="已验收">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>已验收</p>
        </div>
    </label>
</div>
<div class="weui-line"></div>
<div class="weui-cells__title">
    项目拖延/停顿/终止/撤销的主要原因
    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary open-popup" data-target="#full" style="float: right;">详细</a>
</div>
<div class="weui-cells weui-cells_checkbox">
    <label class="weui-cell weui-check__label " style="float: left;">
        <div class="weui-cell__hd">
            <input type="checkbox" class="weui-check" name="checkbox" value="0" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>0.技术变化</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="checkbox" name="checkbox" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>1.计划性调整</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="checkbox" name="checkbox" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>2.设备、材料不落实</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="checkbox" name="checkbox" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>3.协作关系影响</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="checkbox" name="checkbox" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>4.资金不到位</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="checkbox" name="checkbox" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>5.市场变化</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="checkbox" name="checkbox" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>6.技术骨干变动</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="checkbox" name="checkbox" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>7.立题不当</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="checkbox" name="checkbox" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>8.不可抗拒因素</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="checkbox" name="checkbox" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>9.合作方变动</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="checkbox" name="checkbox" class="weui-check" value="否">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>10.其他原因</p>
        </div>
    </label>
</div>


<div id="full" class='weui-popup__container'>
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <header class='demos-header'>
            <h2 class="demos-second-title">项目拖延/停顿/终止/撤销的主要原因</h2>
        </header>
        <article class="weui-article">
            <section>
                <section>
                    <h3>勾选项目进展受阻的主要原因，最多选三项：</h3>
                    <p>   
                        0.技术变化：由于国内外技术取得进展及技术发展趋势发 生变化而导致该项目计划进度等变化。</br>    
                        1.计划性调整：由项目组织部门或主管部门审定对合同书 的计划进度进行的调整。</br>  
                        2.设备、材料不落实：由于设备紧张、材料短缺等原因而 影响计划进度的完成。</br>     
                        3.协作关系影响：由于协作单位拖延加工、检验、测试以 及依托工程拖延等影响计划进度的完成。</br>     
                        4.资金不到位：由于在报告期内项目资金不到位而影响计 划进度的完成。</br>     
                        5.市场变化：由于市场的供求状况发生改变，而使该项目 不能或不宜按原计划进度进行。</br>     
                        6.技术骨干变动：由于项目组技术骨干调动或较长时间脱 离项目活动等原因而影响计划进度完成。</br>     
                        7.立题不当：由于可行性研究不够、制定的指标过高、技 术不成熟、技术力量不足，导致项目难以进行而影响计划进度 的完成。</br>     
                        8.不可抗拒因素：人力不可抗拒因素，例如自然灾害等。</br>     
                        9.合作方变动：国际或区域科技合作项目的合作方发生变 动，导致项目难以按计划完成。</br>     
                        10.其他原因：除上述原因以外，影响计划进度完成的其 他各种原因。论文发表周期较长、项目建设场地问题。</br>
                    </p>
                </section>
            </section>
        </article>
        <a href="javascript:;" style="margin:40px 30px;" class="weui-btn weui-btn_primary close-popup">关闭</a>
    </div>
</div>

<div class="weui-line"></div>
<div class="weui-interval"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd">
        <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <p class="weui-max-title">考核指标完成情况</p>
    </div>
</a>


<div class="weui-cell">
    <div class="weui-cell__bd">
        <div class="weui-cell__bd weui-cell_primary" style="font-size: 16px;">
            <p>技术指标-指标内容：</p>
        </div>
</div>
<div class="weui-line"></div>
</div>

<div class="weui-cell">
    <div class="weui-cell__bd">
        <span style="font-size: 12px;">   
            0.技术变化：由于国内外技术取得进展及技术发展趋势发 生变化而导致该项目计划进度等变化。</br> 
            1.计划性调整：由项目组织部门或主管部门审定对合同书 的计划进度进行的调整。</br>
            2.设备、材料不落实：由于设备紧张、材料短缺等原因而 影响计划进度的完成。</br>
        </span>
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="完成情况">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <textarea class="weui-textarea" placeholder="完成情况描述" rows="5"></textarea>
        <div class="weui-textarea-counter"><span>0</span>/200</div>
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <div class="weui-cell__bd weui-cell_primary">
            <p>经济指标-指标内容：</p>
        </div>
</div>
<div class="weui-line"></div>
</div>

<div class="weui-cell">
    <div class="weui-cell__bd">
        <span style="font-size: 12px;">   
            0.技术变化：由于国内外技术取得进展及技术发展趋势发 生变化而导致该项目计划进度等变化。</br> 
            1.计划性调整：由项目组织部门或主管部门审定对合同书 的计划进度进行的调整。</br>
            2.设备、材料不落实：由于设备紧张、材料短缺等原因而 影响计划进度的完成。</br>
        </span>
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="完成情况">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <textarea class="weui-textarea" placeholder="完成情况描述" rows="5"></textarea>
        <div class="weui-textarea-counter"><span>0</span>/200</div>
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <div class="weui-cell__bd weui-cell_primary">
            <p>项目重要进展情况描述：</p>
        </div>
</div>
<div class="weui-line"></div>
</div>

<div class="weui-cell">
    <div class="weui-cell__bd">
        <textarea class="weui-textarea" placeholder="项目重要进展情况描述" rows="10"></textarea>
        <div class="weui-textarea-counter"><span>0</span>/200</div>
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-interval"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd">
        <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <p class="weui-max-title">项目经费管理情况</p>
    </div>
</a>

<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input sex" type="text" value="" placeholder="项目资金是否单独核算">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" id="sex4" type="text" value="" placeholder="单独核算形式">
    </div>
</div>
<div class="weui-line"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd weui-cell_primary">
        <p class="weui-max-title">项目资金收支情况(截止报告期限)</p>
    </div>
</a>

<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="收入">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="支出">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="其中劳务支出">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="其中缴费支出">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-interval"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd">
        <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <p class="weui-max-title">项目经费管理情况</p>
    </div>
</a>

<div class="weui-cell">
    <div class="weui-cell__bd">
        <span style="font-size: 12px;">   
            其中：广西科技厅资助经费(如为先验收后补助项目，则【合同原始预算】和【已支出金额】为乙方自筹经费中的科技经费)
        </span>
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-interval-min"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd weui-cell_primary">
        <p>合计：</p>
    </div>
</a>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="支出金额">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="合同原始预算">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="已支出金额">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-interval-min"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd weui-cell_primary">
        <p>(一)直接费用:</p>
    </div>
</a>

<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="支出金额">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="合同原始预算">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="已支出金额">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-interval-min"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd weui-cell_primary">
        <p>设备费:</p>
    </div>
</a>

<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="支出金额">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="合同原始预算">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="已支出金额">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <textarea class="weui-textarea" placeholder="开支内容" rows="5"></textarea>
        <div class="weui-textarea-counter"><span>0</span>/200</div>
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-interval-min"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd weui-cell_primary">
        <p>材料费:</p>
    </div>
</a>

<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="支出金额">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="合同原始预算">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="已支出金额">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <textarea class="weui-textarea" placeholder="开支内容" rows="5"></textarea>
        <div class="weui-textarea-counter"><span>0</span>/200</div>
    </div>
</div>
<div class="weui-line"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd weui-cell_primary">
        <p>项目其他经费支出(如为先验收后补助项目，则此处经费不包含自筹经费中的科技经费)</p>
    </div>
</a>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="国家科技部门拨款">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="国家其他部门拨款">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="区级部门拨款">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="市级部门拨款">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="县级部门拨款">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="自筹资金">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="银行贷款">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="国外资金">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="其他资金">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-interval"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd">
        <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <p class="weui-max-title">项目效益及成果情况</p>
    </div>
</a>

<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd weui-cell_primary">
        <p>(一)项目效益及成果情况</p>
    </div>
</a>

<div class="weui-interval-min"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="效益/成果名称">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="数量">
    </div>
</div>
<div class="weui-line"></div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd weui-cell_primary">
        <p style="float: left">(二)专利论文目录</p>
    </div>
</a>

<div class="weui-interval-min"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        序号：1
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="专利论文标题">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="完成人">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="项目负责人排位">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input date" type="text" value="" placeholder="发表时间">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="论文收录类别">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__hd">
        <label class="weui-check__label">论文他人引用次数:</label>
    </div>
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <textarea class="weui-textarea" placeholder="有关说明" rows="5"></textarea>
        <div class="weui-textarea-counter"><span>0</span>/200</div>
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-interval-min"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        序号：1
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="专利论文标题">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="完成人">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="项目负责人排位">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input date" type="text" value="" placeholder="发表时间">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="论文收录类别">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="论文他人引用次数">
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <textarea class="weui-textarea" placeholder="有关说明" rows="5"></textarea>
        <div class="weui-textarea-counter"><span>0</span>/200</div>
    </div>
</div>
<div class="weui-line"></div>
<div class="weui-cells__title" id="c">复选列表项</div>
<div class="weui-cells weui-cells_checkbox">
    <label class="weui-cell weui-check__label " style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" class="weui-check" name="checkbox1" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>s</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox1" class="weui-check">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>s</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox1" class="weui-check">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>sfddfd</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox1" class="weui-check">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>standard</p>
        </div>
    </label>
    <label class="weui-cell weui-check__label" style="float: left;">
        <div class="weui-cell__hd">
            <input type="radio" name="checkbox1" class="weui-check">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>standardstandardstandardstandard</p>
        </div>
    </label>
</div>

<script src="../../weui/lib/jquery-2.1.4.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../weui/js/swiper.js"></script>
<script type="text/javascript" src="../../../../layui/layui.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
</script>
<script>
    //延期批复截止时间
    $(".date").calendar({
        title: "延期批复截止时间",
        onChange: function (p, values, displayValues) {
            console.log(values, displayValues);
        }
    });
    //项目资金是否单独核算
    $("#sex4").select({
        title: '项目资金是否单独核算',
        items: [
            {
                title: "专账核算",
                value: "专账核算",
            },
            {
                title: "往来账核算",
                value: "往来账核算",
            },
            {
                title: "辅助账核算",
                value: "辅助账核算",
            },
            {
                title: "其他",
                value: "其他",
            }
        ]
    });
</script>
</body>

</html>
