<!DOCTYPE html>
<html>
<head>
    <title>工作日志起草</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" href="../../css/common.css">
</head>

<body ontouchstart>
<form class="form-horizontal" onsubmit="return false" id="form">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-label">当前进度</label>
        </div>
    </div>
    <div class="weui-slider-box" id='slider2'>
        <div class="weui-slider">
            <div id="sliderInner" class="weui-slider__inner">
                <div id="sliderTrack" class="weui-slider__track"></div>
                <div id="sliderHandler" class="weui-slider__handler"></div>
            </div>
        </div>
        <div id="sliderValue" class="weui-slider-box__value" style="margin-right: 10px;"></div>
    </div>
    <div class="weui-line" style="margin-top: 15px;"></div>
    <div class="weui-cells__title">进度描述</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="请输入文本" id="content" name="content" rows="10"></textarea>
            </div>
        </div>
    </div>

    <div id="targetSum">


    </div>

    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="weui-uploader">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title" style="font-weight: bold">图片上传</p>
                </div>
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files" id="images">
                    </ul>
                    <div class="weui-uploader__input-box">
                        <input class="weui-uploader__input" type="file" accept="image/*"
                               multiple="" id="uploadImg"  data-sum="6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="weui-uploader">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title" style="font-weight: bold">视频上传</p>
                </div>
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files" id="videos">
                    </ul>
                    <div class="weui-uploader__input-box">
                        <input class="weui-uploader__input" type="file" accept="video/mp4"
                               multiple="" id="video" onchange="uploader(this)"  data-sum="6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-line"></div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="weui-uploader">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title" style="font-weight: bold">文件上传</p>
                </div>
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files">
                    </ul>
                    <div class="weui-uploader__input-box">
                        <input class="weui-uploader__input" type="file"
                               accept="application/*" multiple="" onchange="uploader(this)" data-sum="6">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-gallery img-gallery" style="display: none">
        <span class="weui-gallery__img img-span"></span>
        <div class="weui-gallery__opr">
            <a href="javascript:" class="weui-gallery__del">
                <i class="weui-icon-delete weui-icon_gallery-delete"></i>
            </a>
        </div>
    </div>

    <input type="hidden" name="accessory" id="accessory">
    <input type="hidden" name="plan" id="plan" value="">
    <div class="weui-line"></div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" onclick="save(this)">提交</a>
    </div>
</form>


<script type="text/javascript" src="../../../../js/libs/jquery-3.3.1.min.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../../../js/constant.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script type="text/javascript" src="../../../../js/common.js"></script>

<script>
    $(function () {
        FastClick.attach(document.body);
        var $uploaderInput = $("#uploadImg"); //上传按钮+
        var $uploaderFiles = $("#images");    //图片列表
        var $galleryImg = $(".img-span");//相册图片地址
        var $gallery = $(".img-gallery");
        $uploaderInput.on("change", function (e) {
            var formData = new FormData();
            formData.append("file", e.currentTarget.files[0]);
            $.ajax({
                type: "post",
                url: domainName + '/zuul/api-f/files',
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    $uploaderFiles.append('<li class="weui-uploader__file"  data-id="'+res.id+'" style="background-image:url('+res.url+');"></li>');
                    var div = $(e).parents('div[class=weui-uploader__bd]');
                    var sum = $(e).attr('data-sum');
                    var li = $(div).find('li[class=weui-uploader__file]');
                    if (li.length >= sum) {
                        $($(e).parents('div[class=weui-uploader__input-box]')).remove();
                    }
                    var accessory = $('#accessory').val();
                    if (jQuery.isEmptyObject(accessory)) {
                        $('#accessory').val(res.id);
                    } else {
                        $('#accessory').val(accessory + ',' + res.id);
                    }
                },
            });
        });
        var index;
        $uploaderFiles.on("click", "li", function () {
            index = $(this).index();
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });
        $gallery.on("click", function () {
            $gallery.fadeOut(100);
        });
        $(".weui-gallery__del").click(function () {
            var li = $uploaderFiles.find("li").eq(index);
            var fileId = $(li).data("id");
            li.remove();
            setAccessory(fileId);
            var num = $('.weui-uploader__file').length;
            $('#uploadCount').text(num);
        });
    });

    function setAccessory(fileId) {
        var accessory = $('#accessory').val();
        var newVal = '';
        if(accessory.indexOf(fileId + ",") != -1){
            newVal = accessory.replace(fileId+",","")
            $('#accessory').val(accessory);
        }
        if(accessory.indexOf("," + fileId) != -1){
            newVal =accessory.replace("," + fileId,"");
        }
        $('#accessory').val(newVal);
    }

    function uploader(obj) {
        if ($(obj).val() == "") {
            $.toast("请选择上传的目标文件!", "forbidden");
            return false;
        }
        var size1 = $(obj)[0].files[0].size;
        if (size1 > 104857600) {
            $.toast("上传文件不能大于100M!", "forbidden");
            return false;
        }
        var div = $(obj).parents('div[class=weui-uploader__bd]');
        var formData = new FormData();
        formData.append("file", $(obj)[0].files[0]);
        $.ajax({
            type: "post",
            url: domainName + '/zuul/api-f/files',
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                $.toast('上传成功');
                var type = res.contentType;
                if (res.isImg) {
                    $(div).find('ul').append('<li class="weui-uploader__file" style="background-image:url(' + res.url + ')"></li>');
                }
                if (type.substring(0, 11) == 'application') {
                    var fileName = res.name;
                    if(fileName.length > 16){
                        fileName = fileName.substr(0,16);
                    }
                    $(div).find('ul').append('<li class="weui-uploader__file" style="width: 100%;height: 30px;"><a href="#" style="width: 75%;float: left;">' + fileName +
                        '</a><a class="weui-btn weui-btn_mini weui-btn_primary" ' +
                        ' style="width: 25%;float: right;" data-file-id="'+res.id+'" onclick="delFile(this)" href="javascript:;">删除</a></li>');
                }
                if (type.substring(0, 5) == 'video') {
                    $(div).find('ul').append('<li class="weui-uploader__file" style="width: 100%;height: 142px;">' +
                        '<div class="icon_sp_area" style="float: right;" onclick="delFile(this)"><i class="weui-icon-cancel"></i></div>' +
                        '<video class="weui-uploader__file" style="width: 100%;height: 120px;" controls src="' + res.url + '">' + res.name + '</video></li>');
                }
                var sum = $(obj).attr('data-sum');
                var li = $(div).find('li[class=weui-uploader__file]');
                if (li.length >= sum) {
                    $($(obj).parents('div[class=weui-uploader__input-box]')).remove();
                }
                var accessory = $('#accessory').val();
                if (jQuery.isEmptyObject(accessory)) {
                    $('#accessory').val(res.id);
                } else {
                    $('#accessory').val(accessory + ',' + res.id);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                $.toast('上传失败', 'forbidden');
            }
        });
    }
    function delFile(obj) {
        var fileId = $(obj).data("fileId");
        var li = $(obj).parents("li");
        li.remove();
        setAccessory(fileId);
    }

    var itemId = getUrlParam('itemId');
    var targetId = getUrlParam("targetId");
    var plan = 0;
    $.get(domainName + "/api-summary/work-log/lately", {itemId: itemId, targetId: targetId}, function (res) {
        if (!jQuery.isEmptyObject(res)) {
            var flag = false;
            var str = '';
            $.each(res.workLogAffiliates, function (i, item) {
                flag = true;
                str += '<div class="targetSum">\n' +
                    '            <div class="weui-imaginary-line"></div>\n' +
                    '            <div class="weui-cell">\n' +
                    '                <div class="weui-cell__hd">\n' +
                    '                    <label class="weui-label">指标名称</label>\n' +
                    '                </div>\n' +
                    '                <div class="weui-cell__bd">\n' +
                    '                    <input class="weui-input" type="text" name="content" value="' + item.content + '" disabled>\n' +
                    '                </div>\n' +
                    '            </div>\n' +
                    '            <div class="weui-line"></div>\n' +
                    '            <div class="weui-cell">\n' +
                    '                <div class="weui-cell__hd">\n' +
                    '                    <label class="weui-label">计划数量</label>\n' +
                    '                </div>\n' +
                    '                <div class="weui-cell__bd">\n' +
                    '                    <input class="weui-input" type="text" name="originalCount" value="' + item.originalCount + '" disabled>\n' +
                    '                </div>\n' +
                    '            </div>\n' +
                    '            <div class="weui-line"></div>\n' +
                    '            <div class="weui-cell">\n' +
                    '                <div class="weui-cell__hd">\n' +
                    '                    <label class="weui-label">本次数量</label>\n' +
                    '                </div>\n' +
                    '                <div class="weui-cell__bd">\n' +
                    '                    <input class="weui-input" type="text" name="oldCount" value="0" onchange="setNowCount(this)">\n' +
                    '                </div>\n' +
                    '            </div>\n' +
                    '            <div class="weui-line"></div>\n' +
                    '            <div class="weui-cell">\n' +
                    '                <div class="weui-cell__hd">\n' +
                    '                    <label class="weui-label">累计数量</label>\n' +
                    '                </div>\n' +
                    '                <div class="weui-cell__bd">\n' +
                    '                    <input class="weui-input" type="text" name="nowCount" data-initial-val="' + item.nowCount + '" value="' + item.nowCount + '" disabled>\n' +
                    '                </div>\n' +
                    '            </div>\n' +
                    '        </div>';
            });
            if (flag) {
                str += '<div class="weui-imaginary-line"></div>';
            }
            $('#targetSum').append(str);
        } else {
            $.get(domainName + "/project-item/item/indicators/list", {item_id: itemId}, function (data) {
                var str = '';
                var flag = false;
                $.each(data, function (i, item) {
                    if (item['count'] > 0) {
                        var content = '';
                        flag = true;
                        $.ajaxSettings.async = false;
                        $.get(domainName + "/api-label/label/tree/" + item['content'], function (result) {
                            content = result[0]['content'];
                        });
                        $.ajaxSettings.async = true;
                        str += '<div class="targetSum">\n' +
                            '            <div class="weui-imaginary-line"></div>\n' +
                            '            <div class="weui-cell">\n' +
                            '                <div class="weui-cell__hd">\n' +
                            '                    <label class="weui-label">指标名称</label>\n' +
                            '                </div>\n' +
                            '                <div class="weui-cell__bd">\n' +
                            '                    <input class="weui-input" type="text" name="content" value="' + item.content + '" disabled>\n' +
                            '                </div>\n' +
                            '            </div>\n' +
                            '            <div class="weui-line"></div>\n' +
                            '            <div class="weui-cell">\n' +
                            '                <div class="weui-cell__hd">\n' +
                            '                    <label class="weui-label">计划数量</label>\n' +
                            '                </div>\n' +
                            '                <div class="weui-cell__bd">\n' +
                            '                    <input class="weui-input" type="text" name="originalCount" value="' + item['count'] + '" disabled>\n' +
                            '                </div>\n' +
                            '            </div>\n' +
                            '            <div class="weui-line"></div>\n' +
                            '            <div class="weui-cell">\n' +
                            '                <div class="weui-cell__hd">\n' +
                            '                    <label class="weui-label">上次数量</label>\n' +
                            '                </div>\n' +
                            '                <div class="weui-cell__bd">\n' +
                            '                    <input class="weui-input" type="text" name="oldCount" value="0" onchange="setNowCount(this)">\n' +
                            '                </div>\n' +
                            '            </div>\n' +
                            '            <div class="weui-line"></div>\n' +
                            '            <div class="weui-cell">\n' +
                            '                <div class="weui-cell__hd">\n' +
                            '                    <label class="weui-label">上次本次合计</label>\n' +
                            '                </div>\n' +
                            '                <div class="weui-cell__bd">\n' +
                            '                    <input class="weui-input" type="text" name="nowCount" data-initial-val="0" value="0"  disabled>\n' +
                            '                </div>\n' +
                            '            </div>\n' +
                            '        </div>';
                    }
                });
                if (flag) {
                    str += '<div class="weui-imaginary-line"></div>';
                }
                $('#targetSum').append(str);
            });
        }

        if (!jQuery.isEmptyObject(res.plan)) {
            plan = parseInt(res.plan);
        }
        setPlan(plan);
    });
    $('#slider2').slider(function (per) {
        if (per < plan) {
            setPlan(plan);
        } else {
            $("#plan").val(per);
        }
    });

    function setNowCount(obj) {
        var oldCount = $(obj).val();
        var parentElem = $(obj).parents("div.targetSum");
        var nowCountInput = $(parentElem).find("input[name=nowCount]");
        var initialVal = $(nowCountInput).data("initial-val");
        $(nowCountInput).val(parseInt(oldCount)+parseInt(initialVal));
    }

    function setPlan(plan) {
        $("#sliderTrack").css('min-width', plan + '%');
        $("#sliderHandler").css('left', plan + '%');
        $("#sliderValue").html(plan + '%');
        $("#plan").val(plan + '%')
    }

    function save(obj) {
        $(obj).attr("disabled", true);
        var workLogAffiliates = setObjectProperty('.targetSum');
        var formdata = $("#form").serializeObject();
        formdata.itemId = itemId;
        formdata.targetId = targetId;
        formdata.paln = formdata.plan + '%';
        formdata.workLogAffiliates = workLogAffiliates;
        $.ajax({
            type: 'post',
            url: domainName + '/api-summary/work-log',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formdata),
            success: function (data) {
                $.toast("成功");
                $(obj).attr("disabled", false);
            }
        });
    }

    function setObjectProperty(attribute) {
        var target = $(attribute);
        var arr = new Array();
        for (var i = 0; i < target.length; i++) {
            var obj = {};
            var input = $(target[i]).find('input,textarea');
            var falg = false;
            for (var j = 0; j < input.length; j++) {
                falg = true;
                obj[$(input[j]).attr('name')] = $(input[j]).val();
                $(input[j]).attr('disabled', true)
            }
            if (falg) {
                arr.push(obj);
            }
            falg = false;
        }
        return arr;
    }

</script>
</body>
</html>
