<!DOCTYPE html>
<html>
<head>
    <title>更改申请列表</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../../../../layui/css/layui.css" media="all" />

</head>

<body ontouchstart>
	
	
<div class="page__bd">
    <div class="weui-panel" id="list">
      <!-- <div class="weui-panel__hd">文字列表附来源</div> -->
      <div class="weui-panel__bd">
    			<a class="weui-cell weui-cell_access" href="checkModifyApply.html">
        <div class="weui-media-box weui-media-box_text">
          <h4 class="weui-media-box__title">项目基本信息</h4>
          <p class="weui-media-box__desc" >项目基本信息出错，现申请更改。</p>
          <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta">杨珣</li>
            <li class="weui-media-box__info__meta">2020年02月29日</li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">待审核</li>
          </ul>
        </div>
    		   <span class="weui-cell__ft"></span>
    		   </a>
      </div>
    </div>
</div>
<script src="../../weui/lib/jquery-2.1.4.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../weui/js/swiper.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/constant.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>

<script>
	 var itemId = getUrlParam("item_id");
    $(function() {
        FastClick.attach(document.body);
    });
	$(function () {
		 $.ajax({
		    type : 'get',
		     url: domainName + "/project-item/item/target/applyList",
		     contentType: "application/json; charset=utf-8",
		     data: {item_id: itemId,status: 0},
		     success : function(data) {
		         var str = '';
		         for(var i=0; i<data.length; i++){
	                str += '<div class="weui-panel__bd">\n' +
	                        '   <a class="weui-cell weui-cell_access" href="checkModifyApply.html?id='+this.id+'">\n' +
	                        '      <div class="weui-media-box weui-media-box_text">\n' +
	                        '          <h2 style="max-width: 400px;">'+this.item_name+'</h2>\n' +
	                        '          <p class="date" style="max-width: 400px;">\n' +
	                        '            <h4 class="weui-media-box__title">'+getType(this.modify)+'</h4>\n' +
	                        '            <p class="weui-media-box__desc" >'+this.content+'</p>\n' +
	                        '            <ul class="weui-media-box__info">\n' +
	                        '               <li class="weui-media-box__info__meta">'+getUserName(this.user_id)+'</li>\n' +
	                        '               <li class="weui-media-box__info__meta">'+getTime(this.apply_time)+'</li>\n' +
	                        '               <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">'+getStatus(this.status)+'</li>\n'+
	                        '             </ul>\n' +
	                        '      </div>\n' +
	                        '       <span class="weui-cell__ft"></span>\n' +
	                        '     </a>\n' +
	                        '</div>' ;
					$("#list").append(str);
	                }
		    }
		});
	})
	function getType(modify){
		var data='';
		if (modify == 1){
		     data="项目基本信息";
		}else if (modify == 2){
		    data="项目研究内容";
		}else if (modify == 3){
		    data="项目人员";
		}else if (modify == 4){
		    data="项目指标";
		}else if (modify == 5){
		     data="项目经费";
		  }
		return data;
	}
	
	function getUserName(user_id){
		var data='';
		$.get(domainName + "/project-user/user-anon/" + row['user_id'], function (res) {
		    data =  res[0]['name'];
		  })
		return data;
	}
	function getTime(apply_time){
		var   now= new Date(apply_time);
		var   year=now.getFullYear();
		var   month=now.getMonth()+1;
		var   date=now.getDate();
		return   year+"/"+fixZero(month,2)+"/"+fixZero(date,2);
	}
	function getStatus(status){
		var data='';
		if (status == 0){
            data="待审核";
        }else if (status == 1){
            data="更改中";
        }else if (status == 2){
            data="审核未通过";
        }else if (status == 3){
            data="更改成功";
        }	
		return data;
	}
</script>


</body>
</html>
