<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>工作台</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet" href="../weui/css/weui.css" />
		<link rel="stylesheet" href="../weui/css/weuix.css" />
		<link rel="stylesheet" href="//at.alicdn.com/t/font_1682849_ytpqk3cvok.css" />

		<script src="../weui/js/zepto.min.js"></script>
		<script src="../weui/js/swipe.js"></script>
		<script>
			$(function() {
				$('#slide1').swipeSlide({
					autoSwipe: true, //自动切换默认是
					speed: 3000, //速度默认4000
					continuousScroll: true, //默认否
					transitionType: 'cubic-bezier(0.22, 0.69, 0.72, 0.88)', //过渡动画linear/ease/ease-in/ease-out/ease-in-out/cubic-bezier
					lazyLoad: true, //懒加载默认否
					firstCallback: function(i, sum, me) {
						me.find('.dot').children().first().addClass('cur');
					},
					callback: function(i, sum, me) {
						me.find('.dot').children().eq(i).addClass('cur').siblings().removeClass('cur');
					}
				});
			})
			$(function() {
				$('.collapse .js-category').click(function() {
					$parent = $(this).parent('li');
					if ($parent.hasClass('js-show')) {
						$parent.removeClass('js-show');
						$(this).children('i').removeClass('icon-35').addClass('icon-74');
					} else {
						$parent.siblings().removeClass('js-show');
						$parent.addClass('js-show');
						$(this).children('i').removeClass('icon-74').addClass('icon-35');
						$parent.siblings().find('i').removeClass('icon-35').addClass('icon-74');
					}
				});

			});
		</script>
		<style>
			#slide1 {
				height: 150px;
			}

			.weui-panel__hd {
				font-size: 14px;
				color: #000000;
				padding: 5px 15px 10px;
				border-top: 6px solid #e5e5e5;
				border-bottom: 1px solid #e5e5e5;
			}

			.weui-panel__hd span {
				font-weight: bold;
				color: #f3ad11;
				font-size: 18px
			}

			.weui-grid__label {
				color: #666666;
				font-size: 12px;
			}
		</style>
	</head>

	<body ontouchstart class="page-bg">

	</body>
</html>
