<!DOCTYPE html>
<html>
<head>
    <title>技术总结起草</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="../../weui/lib/weui.min.css">
    <link rel="stylesheet" href="../../weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../../weui/css/demos.css">
    <link rel="stylesheet" href="../../css/stageSummary.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../layui/css/layui.css">

</head>
<body ontouchstart>


<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd">
        <img src="../../images/green.png" alt="" style="height:20px;margin-right:5px;display:block">
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <p class="weui-max-title">技术总结起草</p>
    </div>
</a>

<form id="form">

    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-label">项目背景:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="projectContent" id="projectContent" rows="5"></textarea>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-title">技术路线:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="skillRoute" id="skillRoute" rows="5"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-title">技术创新点:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="skillInnovate" id="skillInnovate" rows="5"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-title">项目技术指标完成情况:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="skillIndicator" id="skillIndicator" rows="5"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-title">项目技术评价:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="skillEvaluate" id="skillEvaluate" rows="5"></textarea>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <label class="weui-title">项目实施对企业的影响:</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" name="projectEffect" id="projectEffect" rows="5"></textarea>
        </div>
    </div>

    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" onclick="add()">提交</a>
    </div>
</form>

<script src="../../weui/lib/jquery-2.1.4.js"></script>
<script src="../../weui/lib/fastclick.js"></script>
<script src="../../weui/js/jquery-weui.js"></script>
<script src="../../weui/js/swiper.js"></script>
<script src="../../weui/js/city-picker.js"></script>
<script src="../../../../js/constant.js"></script>
<script src="../../../../js/common.js"></script>
<script src="../../js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../../../../js/jq.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
    var itemId = getUrlParam("item_id");
    function add() {
        var formdata = $("#form").serializeObject();
        formdata.itemId = itemId;
        alert(JSON.stringify(formdata));
        $.ajax({
            type: 'post',
            url: domainName + '/api-summary/skill',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formdata),
            success: function (data) {
                $.toptip('操作成功', 'success');

            }
        });
    }
</script>
<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
</script>

</body>

</html>
